---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height-2" data-background="/assets/im/jpeg/coveraccreditation.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Accreditation of IEDCs</h3>
                        <p>Accreditation of Higher Education Institutions in Kerala State on Innovation and Entrepreneurship</p>
                        
                        <div class="page-bottom-btn mt-55">
                            <a href="https://docs.google.com/document/d/e/2PACX-1vRpP1vZwjRrV4vWcSwKDB5UhG9zSZIir9LZ6CEo6S_fdTJq-jOXVENV4UwvyMTMV8_GYt19mnsYvCrt/pub" 
                            class="st-btn-4" target="_blank">Accreditation Document</a>                        
                            <a href="https://forms.gle/1bHML4EGgemBfQbK8" 
                            class="st-btn-4" target="_blank">Application Form</a>                           
                            <!--<a href="" class="st-btn-4" target="_blank">Results</a> -->  
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- page-banner-area-end -->
    <!--Contents --> 
     <!--Contents --> 
     <div class="news-detalis-area mt-50 mb-70">
        <div class="container">
                <div class="row">
                        <div class="col-xl-8">
                                <div class="abs-section-title text-justify">
                                <span>Assessment Documents for accreditation of IEDCs Draft published | Open for suggestions and feedbacks</span>
                                <p>Period of Consideration: 01 April 2023 - 31 December 2024 | Last date to submit your suggestions 26 December 2023</p>
                                <h4></h4>
                                <div class="news-tag">                                        
                                         <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRxhzyu08AbvcwVgkbNPu0FbxcZMl-RrH40zNdygcwz7GUApSGC2BHdObU1FC07fsVzc1Nnr-8f8GXQ/pubhtml" class="_external" target="_blank">Assessment of IEDCs | Score Sheet</a>
                                         <a href="https://docs.google.com/document/d/e/2PACX-1vTBTdgd2wt1jRGJgmtN6nxjILVqWiNZG-k3sIgtN5eebqeaTFnVcgZo_4XHvp7yE4kTOK-Xxb9Xwt2S/pub" class="_external" target="_blank">Assessment Document</a>
                                         <a href="https://forms.gle/unZNYtveUiPJYov7A" class="_external" target="_blank">Submit your suggestions and feedback</a>                                         
                                </div>
                                <div class="abs-section-title text-justify mt-70">
                                        <span>Accreditation of IEDCs 2023 | 01 April 2022 to 31 March 2024</span>
                                        <h4></h4>
                                <div class="news-tag ">                                        
                                        <a href="https://docs.google.com/document/d/e/2PACX-1vRpP1vZwjRrV4vWcSwKDB5UhG9zSZIir9LZ6CEo6S_fdTJq-jOXVENV4UwvyMTMV8_GYt19mnsYvCrt/pub" class="_external" target="_blank">Accreditation Document</a>
                                        <a href="https://forms.gle/1bHML4EGgemBfQbK8" class="_external" target="_blank">Application Form (Closed)</a>
                                                                                 
                               </div>
                                <p></p>
                        </div>
                </div>        
                <div class="col-xl-12">                       

                    <div class="abs-section-title text-left">
                        <span>Accreditation of Higher Education Institutions in Kerala State on Innovation and Entrepreneurship</span>
                        <h4>Accreditation of IEDCs</h4>
                        <p>"The accreditation of Innovation and Entrepreneurship Development Centers (IEDCs) signifies a commitment to 
                            excellence and quality assurance in fostering innovation, entrepreneurship, and startups within higher education institutions."</p>
                    </div>
                                <div class="about-content">
                                        <p>
                                            Innovation and Entrepreneurship Development Centers (IEDCs) play a pivotal role in 
                                            shaping the future of education and economic growth. These centers serve as vital hubs 
                                            within educational institutions, cultivating a dynamic ecosystem where innovation, 
                                            creativity, and entrepreneurial spirit thrive. Recognizing the critical importance of 
                                            IEDCs in fostering innovation, supporting startups, and nurturing the entrepreneurial 
                                            mindset, the accreditation of IEDCs has emerged as a transformative initiative.
                                        </p>
    
                                        <p> Accreditation of IEDCs is a systematic process aimed at assessing, validating, and 
                                            recognizing the effectiveness of these centers within higher education institutions. 
                                            It acknowledges the significant impact IEDCs have on students, faculty, and the broader 
                                            community, as well as their contribution to regional and national economic development.
                                        </p>
                                        <p>
                                            This accreditation process evaluates various facets of IEDCs, including their leadership, 
                                            infrastructure, programs, and outcomes. It sets specific criteria and standards that IEDCs 
                                            must meet to demonstrate their commitment to excellence in innovation and entrepreneurship 
                                            education. Accreditation is not just a recognition of past achievements but also a roadmap 
                                            for continuous improvement and enhancement of the IEDC ecosystem.
                                        </p>
                                        <p>
                                            
                                        </p>
                                        
                                
                        </div>
                    </div> 
                    
                    
                   
                </div> 
              <div class="col-xl-4 col-lg-4">
                 <div class="news-sidebar pl-10">
                    <div class="row">                       
                       <div class="col-lg-12 col-md-6">
                        <div class="widget">
                            <h6 class="sidebar-title">Previous Accreditation</h6>
                            <span>Accreditation Period | 01 April 2022 - 31 March 2023</span>
                            <ul class="n-sidebar-categories">
                                <li>
                                    <a href="https://zfrmz.com/7UHgtkKQZbUAw57b15kn">
                                        <div class="single-category p-relative mb-10">
                                            Accreditation Document
                                            <span class="category-number">Open</span>                                        
                                        </div>
                                    </a>
                                </li>
                                <li>
                                <a href="https://zfrmz.com/7UHgtkKQZbUAw57b15kn">
                                        <div class="single-category p-relative mb-10">
                                        Accreditation Application Form
                                        <span class="category-number">Closed</span>                                        
                                        </div>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                        <div class="single-category p-relative mb-10">
                                        Accreditation result
                                        <span class="category-number">TBA</span>                                        
                                        </div>
                                </a>
                                </li>                                
                            </ul>
                        </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                                <div class="widget">
                                    <h6 class="sidebar-title">ACCREDITATION OF IEDC 2019-2021</h6>
                                    <span>Period of consideration - 01 April 2019 - 31 March 2021</span>
                                    <ul class="n-sidebar-categories">
                                        <li>
                                            <a href="#">
                                                <div class="single-category p-relative mb-10">
                                                    Amal Jyothi College of Engineering
                                                    <span class="category-number">--</span>                                        
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                        <a href="#">
                                                <div class="single-category p-relative mb-10">
                                                Federal Institute of science and Technology
                                                <span class="category-number">--</span>                                        
                                                </div>
                                        </a>
                                        </li>
                                        <li>
                                        <a href="#">
                                                <div class="single-category p-relative mb-10">
                                                Govt. Engineering College, Bartonhill
                                                <span class="category-number">--</span>                                        
                                                </div>
                                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                    <div class="single-category p-relative mb-10">
                                                    Jyothi Engineering College 
                                                    <span class="category-number">--</span>                                        
                                                    </div>
                                            </a>
                                        </li> 
                                        <li>
                                            <a href="#">
                                                    <div class="single-category p-relative mb-10">
                                                    Mohandas College of Engineering and Technology
                                                    <span class="category-number">--</span>                                        
                                                    </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                    <div class="single-category p-relative mb-10">
                                                    Rajagiri School of Engineering and Technology
                                                    <span class="category-number">--</span>                                        
                                                    </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                    <div class="single-category p-relative mb-10">
                                                    Rajiv Gandhi Institute of Technology
                                                    <span class="category-number">--</span>                                        
                                                    </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                    <div class="single-category p-relative mb-10">
                                                   Sreepathy Institute of Management and Technology
                                                    <span class="category-number">--</span>                                        
                                                    </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                </div>
                        
                        <div class="col-lg-12 col-md-6">
                            <div class="widget">
                                <h6 class="sidebar-title">TBI Statistics</h6>
                                <ul class="n-sidebar-categories">
                                    <li>
                                        <a href="https://airtable.com/app4yLZD1YeaXnGkZ/shrIZNWpot291bEru/tblmuiJxtzn5EopRj?backgroundColor=yellow&viewControls=on" target="_blank">
                                            <div class="single-category p-relative mb-10">
                                                Governmentof India Sanctioned TBIs
                                                <span class="category-number">13</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://airtable.com/app4yLZD1YeaXnGkZ/shrd2RHj6wcVv77Vc/tblckyPNUSOyDKI6p?backgroundColor=yellow&viewControls=on" target="_blank">
                                            <div class="single-category p-relative mb-10">
                                                Startup Mission upgraded IEDCs
                                                <span class="category-number">23</span>
                                            </div>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>                       
                        
                    </div>
                </div>
              </div>
           </div>
        </div>
     </div>
    
                    
                
         
            
            
      
    
    
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
