---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height-2" data-background="/assets/im/jpeg/coveraccreditation.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Accreditation of IEDCs</h3>
                        <p><b>Accreditation of Higher Education Institutions in Kerala State on Innovation and Entrepreneurship</b></p>
                        
                        <div class="page-bottom-btn mt-55">
                            <a href="https://docs.google.com/document/d/e/2PACX-1vRpP1vZwjRrV4vWcSwKDB5UhG9zSZIir9LZ6CEo6S_fdTJq-jOXVENV4UwvyMTMV8_GYt19mnsYvCrt/pub" 
                            class="st-btn-4" target="_blank">Accreditation Document</a>                        
                            <a href="https://forms.gle/1bHML4EGgemBfQbK8" 
                            class="st-btn-4" target="_blank">Application Form</a>                           
                            <!--<a href="" class="st-btn-4" target="_blank">Results</a> -->  
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!--Counter-->
               

    <!-- Join Us -->
    <div class="services-area pt-70 light-bg-s pb-50">
        <div class="container">
            
            <div class="row">
                <div class="col-xl-12">
                    
                </div>
            </div>
            <div class="row mt-40">
                <div class="row align-items-center">
                    
                    <div class="col-xl-6 col-lg-6">
                        <div class="abs-section-title text-left">
                            <span>Accreditation of Higher Education Institutions in Kerala State on Innovation and Entrepreneurship</span>
                            <h4>Accreditation of IEDCs</h4>
                            <p>"The accreditation of Innovation and Entrepreneurship Development Centers (IEDCs) signifies a commitment to 
                                excellence and quality assurance in fostering innovation, entrepreneurship, and startups within higher education institutions."</p>
                        </div>
                            <div class="about-content">
                                    <p>
                                        Innovation and Entrepreneurship Development Centers (IEDCs) play a pivotal role in 
                                        shaping the future of education and economic growth. These centers serve as vital hubs 
                                        within educational institutions, cultivating a dynamic ecosystem where innovation, 
                                        creativity, and entrepreneurial spirit thrive. Recognizing the critical importance of 
                                        IEDCs in fostering innovation, supporting startups, and nurturing the entrepreneurial 
                                        mindset, the accreditation of IEDCs has emerged as a transformative initiative.
                                    </p>

                                    <p> Accreditation of IEDCs is a systematic process aimed at assessing, validating, and 
                                        recognizing the effectiveness of these centers within higher education institutions. 
                                        It acknowledges the significant impact IEDCs have on students, faculty, and the broader 
                                        community, as well as their contribution to regional and national economic development.
                                    </p>
                                    <p>
                                        This accreditation process evaluates various facets of IEDCs, including their leadership, 
                                        infrastructure, programs, and outcomes. It sets specific criteria and standards that IEDCs 
                                        must meet to demonstrate their commitment to excellence in innovation and entrepreneurship 
                                        education. Accreditation is not just a recognition of past achievements but also a roadmap 
                                        for continuous improvement and enhancement of the IEDC ecosystem.
                                    </p>
                                    <p>
                                        
                                    </p>
                                    
                            </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="abs-section-title text-left">
                            <span>Accreditation of IEDC 2023</span>
                            <h4>Period of consideration - 01 April 2022 - 31 March 2023</h4>
                            <p>Last date for data submission 25 September 2023</p>
                        </div>
                        <a href="https://docs.google.com/document/d/e/2PACX-1vRpP1vZwjRrV4vWcSwKDB5UhG9zSZIir9LZ6CEo6S_fdTJq-jOXVENV4UwvyMTMV8_GYt19mnsYvCrt/pub" 
                        class="st-btn-4" target="_blank">Accreditation Document</a>                        
                        <a href="https://forms.gle/1bHML4EGgemBfQbK8" 
                        class="st-btn-4" target="_blank">Application Form</a>
                        <!--<div class="abs-section-title text-left">
                            <span>Accreditation of IEDC 2023</span>
                            <h4>Results</h4>
                            <p></p>
                        </div>
                        
                        <a href="/" 
                        class="st-btn-4" target="_blank">Results (to be published)</a>-->
                    </div>
                </div>
            </div>
            <div class="row mt-40">
                <div class="row align-items-center">
                    <div class="abs-section-title text-left">
                        <h4>Previous Accreditations</h4>
                        <span>Accreditation of IEDC 2019-2021</span>
                        <p>Period of consideration - 01 April 2019 - 31 March 2021</p>
                        
                        <p></p>
                    </div>
                    
                    
                    <div class="col-xl-6 col-lg-6">
                             
                                
                            <p>
                                The Innovation and Entrepreneurship Development Centre (IEDC) is one of the flagship programmes of 
                                KSUM that has been recognized that Implementation of IEDC Programmes has laid out the robust foundation 
                                for Kerala Startup Ecosystem. Now we are a strength of 280+ Institutions that evolved over the years in 
                                its own unique way and we are glad to inform you about the Accreditation of IEDCs in Colleges - 
                                Kerala Ranking Framework from the Period 1st April 2019 - 31th March 2021. 
                            </p>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-image w-img">
                                <img src="/assets/im/jpeg/accred.jpeg" alt="">
                        </div>
                    </div>
            </div>
               </div>
                
        </div>
    </div>
    <!-- sJoin us-end -->

    <!-- technolgy-index-start -->
    <div class="technolgy-index mt-70 mb-10">
        <div class="container">
        <div class="row">
                                
        </div>
    </div>
    
    
    <!-- List of Students -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1cPL2TADdXA1Z-Gdt04_mTFOAVi42z899Xl97sZpeKtkQ9zDaK-0lfc400mhWbRfn_rGFT9_yWqwU/pubhtml?gid=1845074038&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of IEDC modal end -->
    <!-- List of Researchers modal start -->
    <div class="modal fade" id="productModalId1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1cPL2TADdXA1Z-Gdt04_mTFOAVi42z899Xl97sZpeKtkQ9zDaK-0lfc400mhWbRfn_rGFT9_yWqwU/pubhtml?gid=2082397695&amp;single=true&amp;widget=true&amp;headers=false"></iframe>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of KSUMTBI modal end -->
    <!-- List of Faculties modal start -->
    <div class="modal fade" id="productModalId2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1cPL2TADdXA1Z-Gdt04_mTFOAVi42z899Xl97sZpeKtkQ9zDaK-0lfc400mhWbRfn_rGFT9_yWqwU/pubhtml?gid=376646607&amp;single=true&amp;widget=true&amp;headers=false"></iframe>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of KSUMTBI modal end -->
    <!-- List of Interested Individuals start -->
    <div class="modal fade" id="productModalId3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1cPL2TADdXA1Z-Gdt04_mTFOAVi42z899Xl97sZpeKtkQ9zDaK-0lfc400mhWbRfn_rGFT9_yWqwU/pubhtml?gid=2003005764&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of GOITBI modal end -->
    <!-- List of Interested Individuals start -->
    <div class="modal fade" id="productModalIddb" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
