---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">

  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="/assets/im/jpeg/ar.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Activity Report Submission</h3>
                        <p>IEDCs can submit report of activities happening in IEDC here<br>Submit now</p>
                        <div class="page-bottom-btn mt-55">
                            <a href="https://forms.gle/ENh5qXAwPgZpbhNR6" class="st-btn-4">Submit individual post activity report of IEDC</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
               
    <!-- Join Us -->
    <div class="services-area pt-70 light-bg-s pb-50">
        <div class="container">
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        <span>Activity report submission</span>
                        <h4></h4>
                        <p>Submit report</p>
                    </div>
                </div>
            </div>
            <div class="row mt-40">

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-file-chart-pie"></i>
                        </div>
                        <h6>Event report submission</h6>
                        <p>IEDCs should submit report of all the activities undertaken by IEDCs to Kerala Startup Mission in the form,</p>
                        <div class="s-count-number">
                            <span>01</span>
                        </div>
                        <div class="abs-section-title text-center">
                            <br><span>Activity Report 01 April 2023 to 31 March 2024</span>                                
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://forms.gle/ENh5qXAwPgZpbhNR6" 
                            target="_blank">Submit Report</a>
                        </button>

                        <div class="abs-section-title text-center">
                            <br><span>Activity Report 01 April 2022 to 31 March 2023</span>                                
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://forms.gle/qfWpaHAbKhvzSTCM6" 
                            target="_blank">Submit Report</a>
                        </button>
                        <div class="abs-section-title text-center">
                            <br><span>Dashboard</span>                                
                        </div>                            
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://lookerstudio.google.com/reporting/5d51b387-aa70-41b8-92c6-1f743063ec5f" 
                            target="_blank">Statistics</a>
                        </button>                        
                        
                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-rocket-launch"></i>
                        </div>
                        <h6>Startups & IPs from IEDC</h6>
                        <p>IEDCs should identify scalable ideas, nourish them, support them and translate them to Startups & Patents</p>
                        <div class="s-count-number">
                            <span>02</span>
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId1">
                        List of STartups & IPs
                        </button>
                        <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                            <a href="https://forms.gle/koFhboZ5NYYP64N49" class="external" target="_blank">
                        Submit Details</a>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-file-certificate"></i>
                        </div>
                        <h6>IEDC Annual data Submission</h6>
                        <p>All IEDCs should mandatorily submit annual activity reports within 30 days from ending of finacial year
                            along with utilisation certificate.
                        </p>
                        <div class="s-count-number">
                            <span>03</span>
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId">
                        List of IEDCs Submitted docs
                        </button>
                        <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                            <a href="https://forms.gle/wpHynXYk1j4g5hhX9" class="external" target="_blank">
                        Submit Documents</a>
                        </button>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <!-- sJoin us-end -->

    
    <!-- List of IEDC modal start -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRT5dsuRlbbtkP5Q_-
                            2xH7yhidj1S5ORR01RxzMJsgi--bjxP7WBjf5qcBw0YncQyFaiRQ0JmcUVXjY/pubhtml?gid=1736577395
                            &amp;single=true&amp;widget=true&amp;headers=false"></iframe>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of IEDC modal end -->
    <!-- List of KSUMTBI modal start -->
    <div class="modal fade" id="productModalId1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRT5dsuRlbbtkP5Q_-
                            2xH7yhidj1S5ORR01RxzMJsgi--bjxP7WBjf5qcBw0YncQyFaiRQ0JmcUVXjY/pubhtml?gid=757200231
                            &amp;single=true&amp;widget=true&amp;headers=false"></iframe>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of KSUMTBI modal end -->
    <!-- List of Reports -->
    <div class="modal fade" id="productModalId2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSnD6iWsTFKLp9onDmHP4Bn9TrCEeocvw
                            -yd_uMxP4mfuJW5kXuW2-OgpJsK3IGfrJoOTa24eLCqrcx/pubhtml?gid=2035178440&amp;single=true
                            &amp;widget=true&amp;headers=false"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>


</Layout>
