---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <!-- slider-area-start -->
		<div class="slider-area">
            <div class="swiper-container slider__active">
                    <div class="slider-wrapper swiper-wrapper">
                            
                            <!-- /single-slider -->
                            <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/activitycalendar.jpg">
                                <div class="container">
                                        
                                        <div class="row">
                                                <div class="col-xl-5">
                                                        <div class="slider-content">
                                                                <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
                                                                        <a href="#" class="st-btn b-radius">IEDC Activity Timeline</a>
                                                                </div>
                                                                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">Proposed Calendar of activities for IEDCs<br></h2>
                                                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s">Uniformity of activities is being brought in so as all IEDCs could function more effectively and efficiently in a collaborative manner<br>
                                                                    <span></span></p>
                                                                <div class="slider-bottom-btn mt-75">
                                                                        <a data-animation="fadeInUp" data-delay="1.10s" href="ideafest" class="st-btn-b b-radius">Know More</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                            </div>
                        <!-- /single-slider -->
                        
                        
                            <!-- /single-slider -->
                            
                            <div class="main-slider-paginations"></div>
                    </div>
            </div>
    </div>
    <!-- slider-area-end -->
    <!-- page-banner-area-end -->
    <div class="services-area pt-70  pb-50">
        <div class="container">
            
            <div class="row">
                
                <div class="col-xl-12 md-12 ">
                    <div class="abs-section-title text-justify">
                        <span>Taking IEDC activities to next level</span>
                        <h4>Bringing synergy among IEDCs</h4>
                        <p class="text-justify">The prime objective of the IEDC is to identify innovative scalable ideas from institutions and connect 
                            them to Kerala Startup Mission or provide them with all the necessary ingredients either directly or 
                            through various stakeholders that would convert them to startups. <br>

                            Aim of IEDC should be to generate At Least two Startups (a startup with a product or service) 
                            from each IEDC every year and should be registered under KSUM (Startup having KSUM Unique ID/ Registered DPIIT)<br>
                            
                            IEDCs should ensure the design and delivery of programmes as per the provisions mentioned in the 
                            IEDC Nodal Officer’s Handbook and Fund Utilisation Guideline of KSUM. Funding will be provided to top performing IEDCs</p>

                            <p class="text-justify">These programmes are particulary designed to actively engage with IEDCs, create new academic interventions and 
                                translate IEDCs to innovation hubs and Technology Business Incubators</p>
                                <span>Following points should be kept in mind designing and running programme in IEDCs. 
                                    Accreditation of IEDCs will be done to identify the top performing IEDCs linked with the following points at the end of march every year</span>
                                <p>
                                    <ol>
                                        <li>At least 2 startups from an IEDC every year</li>
                                        <li>At least 2 Patents from an IEDC every year</li>
                                        <li>At least 5 Startups from KSUM TBIs every year</li>
                                        <li>Creating micro VCs in IEDCs</li>
                                        <li>Build investable companies</li>
                                        <li>Teaching students and people the art of doing business through IEDCs</li>
                                        <li>Build & strengthen angel network around IEDC for funding</li>
                                        <li>Cross collaboration among IEDC</li>
                                        <li>Build talent around deep tech</li>
                                        <li>IEDCs to create co working spaces under LEAP</li>
                                    </ol>
                                    
                                </p>
                                

                    </div>
                </div>
                <div class="col-xl-12 md-12">
                    <div class="abs-section-title text-justify">
                        <h4>IEDC Activity Calendar</h4>
                            <span>To be started from 01 November 2023</span>
                    </div>
    
                    <div class="tab-pane fade active show" id="aditional" role="tabpanel" aria-labelledby="aditional-tab">
                        <div class="product__desc-info">
                            
                            
                            <ul>
                            <li>
                                <h6>January</h6>
                                <span>New leads for the academic year to be selected<br>
                                    Leads data to be submitted to Kerala Startup Mission</span>
                            </li>
                            <li>
                                <h6>February</h6>
                                <span>Annual general body meeting</span>
                            </li>
                            <li>
                                <h6>March</h6>
                                <span>Regular activities<br>
                                </span>
                            </li>
                            <li>
                                <h6>April</h6>
                                <span>                                
                                Annual activity report / IEDC magazine to be published<br>
                                Send off to previous leads<br>
                                </span>
                            </li>
                            <li>
                                <h6>May</h6>
                                <span>Online orientation and bootcamp<br>
                                    Idea Fest Campaign kick off on May 11<br>
                                    Leads meetup district level<br>
                                    Leads Meetup Zonal level<br>
                                    Idea Fest drive & campaigns<br>
                                    Motivation Talks<br>
                                    Institutional level ideathons, designathons and hackathons</span>                                        
                                </span>
                            </li>
                            <li>
                                <h6>June</h6>
                                <span>Idea Fest drive & campaigns<br>
                                    Motivation Talks<br>
                                    Institutional level ideathons, designathons and hackathons<br>
                                    Idea Fest Applications closes on June 11</span>
                            </li>
                            <li>
                                <h6>July</h6>
                                <span>
                                    IPL Closes<br>
                                    Design thinking workshops<br>
                                    Idea Fest Screening<br>
                                    Motivation Talks
                                    </span>
                            </li>
                            <li>
                                <h6>August</h6>
                                <span>workshops, bootcamps, technical sessions etc...                                   
                                    Innovation Bootcamps for first year students (shall be taken by leads / Nodal Officers)<br>
                                    Studets onboarding on IEDC platform<br>
                                    Demoday and product showcase to be done at institutional level<br>
                                    Product showcas setails to be submitted to Kerala Startup Mission
                                </span>
                            </li>
                            <li>
                                <h6>September</h6>
                                <span>Two day innovation bootcamps for new students<br>
                                    Innovation Bootcamps for first year students (shall be taken by leads / Nodal Officers)<br>
                                    Studets onboarding on IEDC platform<br>
                                    Leads meetups<br>
                                    Idea Fest Bootcamps for selected students</span>
                            </li>
                            <li>
                                <h6>October</h6>
                                <span>IEDC Summit<br>
                                    IDEA Fest result Announcements</span>
                            </li>
                            <li>
                                <h6>November</h6>
                                <span>Two day innovation bootcamps for new students<br>
                                    Innovation Bootcamps for first year students (shall be taken by leads / Nodal Officers)<br>
                                    Studets onboarding on IEDC platform<br>
                                    Leads meetups<br>
                                    Idea Fest Bootcamps for selected students</span>
                            </li>
                            <li>
                                <h6>December</h6>
                                <span>New leads selection to be initiated</span>
                            </li>
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            
            <div class="row">
                
                
            </div>
        </div>
                    
       

    
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
