---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height-2" data-background="/assets/im/jpeg/branding.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Branding Guidelines</h3>
                        <p>Request now for Logo Usage</p>
                        <div class="page-bottom-btn mt-55">
                            <a href="https://zfrmz.com/KcVuAfyrzFt8CEazlyfU" 
                            class="st-btn-4" target="_blank">IEDC Logo</a> 
                            <a href="https://zfrmz.com/jnqTNisn9FMnoOTEsnyg" 
                            class="st-btn-4" target="_blank">KSUM Logo</a>                       
                            <a href="https://zfrmz.com/GTV54zVzYLqCN2mNXJkq" 
                            class="st-btn-4" target="_blank">Sub Brand Logo</a>                           
                              
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!--Counter-->
    <section>
        <div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-8">
            <div style="position: relative; width: 100%; height: 0; padding-top: 56.2225%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">  
                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF2NU91cCc&#x2F;view?embed" 
                allowfullscreen="allowfullscreen" allow="fullscreen">  
                </iframe>
            </div>
            <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF2NU91cCc&#x2F;view?utm_content=DAF2NU91cCc&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">IEDC Branding Guidelins</a> by Kerala Startup Mission
                       
                 
        </div>
        <div class="col-xl-4 col-lg-4">
           <div class="news-sidebar pl-10 pt-25">
              <div class="row">                       
                 <div class="col-lg-12 col-md-6">                    
                  <div class="widget">
                      <h6 class="sidebar-title">Stationery Kit</h6>
                      <ul class="n-sidebar-categories">
                          
                          <li>
                            <a href="https://drive.google.com/drive/folders/1p7qti5LmrE2hmz32WEOSqxk11WL1NSHJ?usp=drive_link" target="_blank">
                                <div class="single-category p-relative mb-10">
                                    ID Cards
                                    <span class="category-number"><i class="fa fa-eye"></i>  |  <i class="fa fa-download"></i></span>                                        
                                </div>                                  
                            </a>
                        </li>
                        <li>
                            <a href="https://drive.google.com/drive/folders/1TC37WthSgLM0uBBAoFXIPFnDKfzwUiBs?usp=drive_link" target="_blank">
                                <div class="single-category p-relative mb-10">
                                    Stationery Kit
                                    <span class="category-number"><i class="fa fa-eye"></i>  |  <i class="fa fa-download"></i></span>                                        
                                </div>                                  
                            </a>
                        </li>
                        
                        </ul>
                    </div>
                    
                    <div class="widget">
                        <h6 class="sidebar-title">Request for Logos</h6>
                        <ul class="n-sidebar-categories">
                            
                            <li>
                              <a href="https://zfrmz.com/KcVuAfyrzFt8CEazlyfU" target="_blank">
                                  <div class="single-category p-relative mb-10">
                                      Request for IEDC Logo
                                      <span class="category-number"><i class="fa fa-pencil" aria-hidden="true"></i></span>                                        
                                  </div>                                  
                              </a>
                          </li>
                          <li>
                              <a href="https://zfrmz.com/jnqTNisn9FMnoOTEsnyg" target="_blank">
                                  <div class="single-category p-relative mb-10">
                                      Request for KSUM Logo
                                      <span class="category-number"><i class="fa fa-pencil" aria-hidden="true"></i></span>                                        
                                  </div>                                  
                              </a>
                          </li>
                          <li>
                              <a href="https://zfrmz.com/GTV54zVzYLqCN2mNXJkq" target="_blank">
                                  <div class="single-category p-relative mb-10">
                                      Request for KSUM Sub brand Logo
                                      <span class="category-number"><i class="fa fa-pencil" aria-hidden="true"></i></span>                                        
                                  </div>                                  
                              </a>
                          </li>
                          </ul>
                      </div>


                </div>     
                </div>
          </div>
        </div>
     </div>
    </div>
    </section> 
    

<div class="blog-area light-bg-s pt-20 pb-30">
    <div class="container custom-conatiner">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title section__title-2">
                        <h5 class="st-titile">IEDC Institutional Logos</h5>
                    </div>
                    <div class="button-wrap button-wrap-2">
                        <a href="#">Complete branding guidelines <i class="fal fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/1.jpg" alt="">
                        </div>
                        <div class="blog-tag">
                            <a href="#">Sample</a>
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="https://drive.google.com/file/d/1rDsvGW2EKquoSAphwNE59OvU0WoEQF50/view?usp=sharing" target="_blank">Download PSD file <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/2.jpg" alt="">
                        </div>
                        <div class="blog-tag">
                            <a href="#">Sample</a>
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="https://drive.google.com/file/d/1rDsvGW2EKquoSAphwNE59OvU0WoEQF50/view?usp=sharing" target="_blank">Download PSD file <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/3.jpg" alt="">
                        </div>
                        <div class="blog-tag">
                            <a href="#">Sample</a>
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">White logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="https://drive.google.com/file/d/1rDsvGW2EKquoSAphwNE59OvU0WoEQF50/view?usp=sharing" target="_blank">Download PSD file <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/4.jpg" alt="">
                        </div>
                        <div class="blog-tag">
                            <a href="#">Sample</a>
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Black logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="https://drive.google.com/file/d/1rDsvGW2EKquoSAphwNE59OvU0WoEQF50/view?usp=sharing" target="_blank">Download PSD file <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
            
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title section__title-2">
                        <h5 class="st-titile">IEDC Institutional Square Logos</h5>
                    </div>
                    <div class="button-wrap button-wrap-2">
                        <a href="">Complete branding guidelines <i class="fal fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/5.jpg" alt="">
                        </div>
                        <div class="blog-tag">
                            <a href="#">Sample</a>
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="https://drive.google.com/file/d/1E-yEL3zFkSUZhfpvrm5OVzuDfV6YOi2E/view?usp=sharing" target="_blank">Download PSD file <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/6.jpg" alt="">
                        </div>
                        <div class="blog-tag">
                            <a href="#">Sample</a>
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="https://drive.google.com/file/d/1E-yEL3zFkSUZhfpvrm5OVzuDfV6YOi2E/view?usp=sharing" target="_blank">Download PSD file <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/7.jpg" alt="">
                        </div>
                        <div class="blog-tag">
                            <a href="#">Sample</a>
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">White logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="https://drive.google.com/file/d/1E-yEL3zFkSUZhfpvrm5OVzuDfV6YOi2E/view?usp=sharing" target="_blank">Download PSD file <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/8.jpg" alt="">
                        </div>
                        <div class="blog-tag">
                            <a href="#">Sample</a>
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Black logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="https://drive.google.com/file/d/1E-yEL3zFkSUZhfpvrm5OVzuDfV6YOi2E/view?usp=sharing" target="_blank">Download PSD file <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title section__title-2">
                        <h5 class="st-titile">KSUM IEDC Logos</h5>                        
                    </div>
                    <p>To be used only with logo of the institution</p>
                    <div class="button-wrap button-wrap-2">
                        <a href="#">Complete branding guidelines <i class="fal fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-2 col-xl-2">

            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/9.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/10.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original_White_Text.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/11.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">White logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original_Full_White.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/12.jpg" alt="">
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Black logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original_Full_Black.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>      
            
        </div>
        <div class="row">
            <div class="col-xxl-2 col-xl-2">

            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/13.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/ksumiedcsquareoriginal.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/14.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/ksumiedcsquarewhitetext.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/15.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">White logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/ksumiedcsquarefullwhite.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/16.jpg" alt="">
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Black logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/ksumiedcsquarefullblack.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        <!--<div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title section__title-2">
                        <h5 class="st-titile">KSUM IEDC Sub Brand Logos</h5>                        
                    </div>
                    <p>To be used only with logo of the institution</p>
                    <div class="button-wrap button-wrap-2">
                        <a href="#">Complete branding guidelines <i class="fal fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section__title section__title-2">
                <h6 class="st-titile">Innovators Premiere League</h6>                        
            </div> 
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/9.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/9.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/10.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original_White_Text.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/11.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">White logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original_Full_White.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/12.jpg" alt="">
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Black logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/IEDC_KSUM_Logo_Original_Full_Black.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>      
            
        </div>
        <div class="row">
            <div class="col-xxl-2 col-xl-2">

            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/13.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/ksumiedcsquareoriginal.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/14.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Colour logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/ksumiedcsquarewhitetext.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/15.jpg" alt="">
                        </div>                        
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">White logo with white text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/ksumiedcsquarefullwhite.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4">
                <div class="single-smblog mb-30">
                    <div class="smblog-thum">
                        <div class="blog-image w-img">
                            <img src="/assets/im/jpeg/logos/16.jpg" alt="">
                        </div>
                    </div>
                    <div class="smblog-content">
                        <h6><a href="#">Black logo with black text</a></h6>
                        <div class="smblog-foot pt-15">
                            <div class="post-readmore">
                                <a href="/assets/im/jpeg/logos/ksumiedcsquarefullblack.png" target="_blank">Download PNG <span class="icon"></span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div> -->
        
        




    </div>
</div>


<!-- List of GOITBI modal end -->

<Cta></Cta>

<!-- cta-area-end -->



</main>

</Layout>
