---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="/assets/im/jpeg/download.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Downloads</h3>
                        <p>Government Orders & Circulars | University Orders & circulars | KSUM Orders</p>                                                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <section class="cart-area pt-120 pb-120">
        <div class="container">
           <div class="row">
              <div class="col-12">
               <h1>Government orders & Circulars</h1>
                    <form action="#">
                       <div class="table-content table-responsive ">
                          <table class="table align-left">
                                <thead>
                                   <tr>
                                      <th>Particular</th>
                                      <th>Reference Number</th>
                                      <th>Category</th>
                                      <th>Download / View Now</th>
                                      <th>Remarks</th>
                                      
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>Student Entrepreneurship Scheme<br>for the Universities,Colleges and polytechnics in Kerala</td>
                                      <td>G.O. (Ms) No. 499/2012/H.Edn Dt. 11.10.2012</td>
                                      <td>Government Order</td>                                      
                                      <td><a href="https://drive.google.com/file/d/1m8e4grHyN7t0Yrthkufvz57_PjMz7v2L/view?usp=sharing" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                       <a href=""><i class="fa fa-download"></i></a></td> 
                                      <td>-</td>                                     
                                   </tr>
                                    <tr>
                                       <td>Student Entrepreneurship Scheme<br>Award of gracemarks and attendance - guidelines</td>
                                       <td>G.O. (Ms) No. 1818/2013/H.Edn Dt. 04.09.2013</td>
                                       <td>Government Order</td>                                       
                                       <td><a href="https://drive.google.com/file/d/1lcEtbgMJWvRyAhi7W15XfFp-EIry8f5w/view?usp=sharing" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                       <a href=""><i class="fa fa-download"></i></a></td> 
                                       <td>-</td>                                     
                                    </tr>
                                    <tr>
                                       <td>Student Entrepreneurship Scheme<br>Detailed procedure for availing the benfits of the scheme</td>
                                       <td>G.O. (Ms) No. 659/2013/H.Edn Dt. 23.10.2013</td>
                                       <td>Government Order</td>
                                       
                                       <td><a href="https://drive.google.com/file/d/1DMHEW5HtW_K4KCTPEpLvSeq7mHPLv8Tc/view?usp=sharing" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                       <a href=""><i class="fa fa-download"></i></a></td>  
                                       <td>-</td>                                    
                                    </tr>
                                    <tr>
                                       <td>Student Entrepreneurship Scheme<br>Inauguration of Entrepreneurship Development Clubs</td>
                                       <td>Circular No. 33626/B1/13/H.Edn Dt. 26.10.2013</td>
                                       <td>Government Circular</td>                                       
                                       
                                       <td><a href="https://drive.google.com/file/d/16ACDOg1O5cmmyoZ2PG8A2o3c3hUDiWv0/view?usp=sharing" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                       <a href=""><i class="fa fa-download"></i></a></td>   
                                       <td>-</td>                                   
                                    </tr>
                                    <tr>
                                       <td>Student Entrepreneurship Scheme<br>Award of grace marks revised guidelines issued</td>
                                       <td>G.O. (Ms) No. 567/2015/H.Edn Dt. 09.09.2015</td>
                                       <td>Government Order</td>
                                       
                                       <td><a href="https://drive.google.com/file/d/1oDgMvuOJAsSEymgqcf2URTS-4vkA7BBN/view?usp=sharing" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                       <a href=""><i class="fa fa-download"></i></a></td>
                                       <td>-</td>                                      
                                    </tr>
                                    <tr>
                                       <td>Student Entrepreneurship Scheme<br>Award of grace marks revised guidelines issued</td>
                                       <td>G.O. (Ms) No. 568/2015/H.Edn Dt. 09.09.2015 </td>
                                       <td>Government Order</td>
                                       
                                       <td><a href="https://drive.google.com/file/d/1qWVi03uhzIUcwduB0DYx4nW-kM5oTPKs/view?usp=sharing" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                       <a href=""><i class="fa fa-download"></i></a></td> 
                                       <td>-</td>                                     
                                    </tr>
                                </tbody>                                
                          </table>
                       </div>
                       
                    </form>
              </div>
           </div>

           <div class="row">
            <div class="col-12">
             <h1>University orders</h1>
                  <form action="#">
                     <div class="table-content table-responsive ">
                        <table class="table align-left">
                              <thead>
                                 <tr>
                                    <th>Particular</th>
                                    <th>Reference Number</th>
                                    <th>Issued by</th>
                                    <th>Download / View Now</th>
                                    <th>Remarks</th>
                                    
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>Student Entrepreneurship Scheme<br> for the University and colleges affiliated to the
                                       University – Implementation – Sanction modified – Orders issued.</td>
                                    <td>No.Ad.Misc./3/H.Edn/2013 Dated, Thiruvananthapuram 21.10.2014.</td>
                                    <td>University of Kerala</td>                                      
                                    <td><a href="https://drive.google.com/file/d/1TZWRcPqD1PJ8A8AppTel8LZZbgYdpEcq/view?usp=sharing" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                     <a href=""><i class="fa fa-download"></i></a></td> 
                                    <td>-</td>                                     
                                 </tr>
                                 <tr>
                                    <td>Kerala Technological University Student Startup Policy 2015</td>
                                    <td>-</td>
                                    <td>APJ Abdul Kalam Kerala Technological University</td>                                      
                                    <td><a href="https://drive.google.com/drive/u/0/folders/1KSfpbyjr0ZL88TqqRJf5R2jMkZaPHG6n" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                     <a href=""><i class="fa fa-download"></i></a></td> 
                                    <td>-</td>                                     
                                 </tr>
                                 <tr>
                                    <td>Learning Models for Entrepreneurship Development 2015</td>
                                    <td>-</td>
                                    <td>APJ Abdul Kalam Kerala Technological University</td>                                      
                                    <td><a href="https://drive.google.com/file/d/1TZWRcPqD1PJ8A8AppTel8LZZbgYdpEcq/view?usp=sharing" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                     <a href=""><i class="fa fa-download"></i></a></td> 
                                    <td>-</td>                                     
                                 </tr>                                  
                              </tbody>                                
                        </table>
                     </div>
                     
                  </form>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
             <h1>Kerala Startup Mission</h1>
                  <form action="#">
                     <div class="table-content table-responsive ">
                        <table class="table align-left">
                              <thead>
                                 <tr>
                                    <th>Particular</th>
                                    <th>Reference Number</th>
                                    <th>Category</th>
                                    <th>Download / View Now</th>
                                    <th>Remarks</th>
                                    
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>Kerala Startup Mission Orders</td>
                                    <td>Till march 2023</td>
                                    <td>KSUM Order</td>                                      
                                    <td><a href="https://drive.google.com/drive/u/0/folders/1zVHz0GH9gyZD4O-KC4lvGdhStkxFX_TX" class="external" target="_blank"><i class="fa fa-eye"></i></a> | 
                                     <a href=""><i class="fa fa-download"></i></a></td> 
                                    <td>-</td>                                     
                                 </tr>                                  
                              </tbody>                                
                        </table>
                     </div>
                     
                  </form>
            </div>
         </div>


        </div>
     </section>
    
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
