---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Execom | Innovation and Entrepreneurship Development Centre | Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height-2" data-background="/assets/im/jpeg/coverexecom.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Executive Committee & Institute Innovation Council</h3>
                        
                        <div class="page-bottom-btn mt-55">
                            <a href="https://zfrmz.com/rPF3QaNkJGi7RGDiBnjy" 
                            class="st-btn-4" target="_blank">Submit Execom Details</a>                            
                            <a href="https://docs.google.com/document/d/1_RcP9TbwejlgCoKDh529sVbkopXPaeIJrJUE-jRzi_A/edit?usp=sharing" 
                            class="st-btn-4" target="_blank">Nodal Officer declaration form</a>     
                             
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!--Counter-->
    <section>
        <div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
          

           
            <div class="news-detalis-content mt-50">               
                <h6 class="news-title">IEDC Execom (IEDC Executive Committee)</h6>
                <p class="mt-25">
                    An IEDC Executive Committee is formed annually, comprising institution representatives, 
                    the nodal officers (at least two nodal officers from different departments and one should be a female one) 
                    and student innovators from various leadership 
                    roles within IEDC. This committee oversees the planning, execution, and evaluation of IEDC 
                    activities.Students interested in tech-enabled entrepreneurship and innovation join IEDCs. 
                    The institution identifies key innovators for various roles within IEDC.
                </p>

                <div class="features-des-image features-des-image-2 text-center mb-50 w-img mt-50">
                    <img src="/assets/im/jpeg/execomstruct.png" alt="">
                    </div>
                    <h6 class="news-title mt-60">IEDC Execom (IEDC Executive Committee)</h6>
                <p>
                    <ul>
                    <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>Student Lead I and Student Lead II <i>Should be from different departments and atleast one should be a female</i></b>
                        <li>Represent the student body and voice concerns to the IEDC.</li>
                        <li>Foster a positive and inclusive environment for all members.</li>
                        <li>Coordinate student activities and events.</li>
                        <li>Act as a liaison between students and other leadership roles.</li>
                    </li></div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>Technology Lead</b>
                        <li>Oversee the technological infrastructure of the organization.</li>
                        <li>Identify and implement innovative technologies to enhance efficiency.</li>
                        <li>Manage the organization's website, software, and other tech tools.</li>
                        <li>Provide technical support to other teams and members.</li>
                    </li></div></div>
                    <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>Quality & Operations Lead</b>
                        <li>Ensure the smooth functioning of day-to-day operations.</li>
                        <li>Implement and improve processes to enhance efficiency.</li>
                        <li>Monitor and maintain the quality of products or services.</li>
                        <li>Collaborate with other leads to streamline cross-functional processes.</li>
                    </li></div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>Finance Lead</b>
                        <li>Manage the organization's budget and financial resources.</li>
                        <li>Oversee financial transactions, accounting, and reporting.</li>
                        <li>Provide financial guidance to other leads for budgeting their activities.</li>
                        <li>Identify opportunities for cost-saving and revenue generation.</li>
                    </li></div></div>
                    <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>Creative & Innovation Lead</b>
                        <li>Drive creative initiatives and innovative projects.</li>
                        <li>Foster a culture of creativity and out-of-the-box thinking.</li>
                        <li>Collaborate with other leads to infuse creativity into various aspects of the organization.</li>
                        <li>Oversee the development of creative content and materials.</li>
                    </li></div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>Branding & Marketing Lead</b>
                        <li>Develop and execute marketing strategies to promote the organization.</li>
                        <li>Manage branding efforts to enhance the organization's image.</li>
                        <li>Coordinate promotional events and campaigns.</li>
                        <li>Work with other leads to ensure consistent messaging across all channels.</li>
                    </li></div></div>
                    <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>Community Lead</b> 
                        <li>Build and nurture a sense of community within the organization.</li>
                        <li>Organize community-building events and activities.</li>
                        <li>Address the needs and concerns of the organization's members.</li>
                        <li>Foster collaboration and networking among members.</li>
                    </li></div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>Women Entrepreneurship Lead</b>
                        <li>Promote and support women entrepreneurs within the organization.</li>
                        <li>Develop initiatives to empower women in entrepreneurship.</li>
                        <li>Organize events, workshops, and mentorship programs focused on women's leadership.</li>
                        <li>Advocate for gender equality and inclusivity within the organization.</li>
                    </li></div></div>
                    <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    <li class="mt-50"><b>IPR & Research Lead</b>
                        <li>Oversee intellectual property matters and research activities.</li>
                        <li>Ensure compliance with intellectual property laws and regulations.</li>
                        <li>Facilitate research projects and collaborations.</li>
                        <li>Support innovation and protect the organization's intellectual assets.</li>
                    </li></div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                    </div></div>
                    </ul>
                    </p>
                
                <h6 class="news-title mt-60">Selection of Execom | Operation process</h6>                
                <p>
                    <ul>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>i. Announcement of election:</b> Announce the opening of student lead positions in the IEDC through various 
                            communication channels, including posters, emails, and social media.<br>
                            Clearly outline the eligibility criteria, which may include a minimum GPA, a demonstrated interest in 
                            innovation and entrepreneurship, and active participation in related activities.
                        </li>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>ii. Nomination Submission:</b>Establish a dedicated platform for the submission of nominations.<br>
                            Nominees should provide a comprehensive statement of interest highlighting their motivation, relevant 
                            experiences, and a vision for promoting innovation and entrepreneurship within the IEDC.</li>
                        </div></div>
                        <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>iii. Initial Review: </b>Form a screening committee to conduct an initial review of all applications for 
                            completeness and adherence to guidelines.<br>
                            Identify and address any discrepancies or missing information through direct communication with the candidates.</li>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>iv. Short listing:</b>     Evaluate applications based on criteria such as the candidate's passion for 
                            innovation, demonstrated leadership, and alignment with the IEDC's mission.<br>
                            Shortlist candidates who exhibit strong potential for contributing to the IEDC's goals.</li>
                        </div></div>
                        <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>v. Panel interview</b>    Organize panel interviews involving representatives from the IEDC, faculty members, 
                            and external experts.<br>
                            Structure interviews to assess candidates' understanding of innovation, their entrepreneurial mindset, 
                            and their ability to work collaboratively.</li>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>vi. Case study or presentation:</b>     Introduce a case study or presentation component to evaluate candidates' 
                            analytical and communication skills.<br>
                            Topics may include proposing an innovative project, addressing a real-world entrepreneurial challenge, 
                            or presenting their vision for the IEDC.</li>
                        </div></div>
                        <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>vii. Evaluation and scoring</b>Establish a scoring system to evaluate candidates based on their interview performance, 
                            application materials, and references.<br>
                            Consider factors such as innovation mindset, leadership potential, and communication skills in the evaluation process.</li>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>viii. Selection Committee meeting:</b>Convene a meeting with the selection committee to discuss and finalize student lead selections.<br>
                            Ensure thorough deliberation and consensus-building among committee members.</li>
                        </div></div>
                        <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>ix. Announcement: </b>Announce the selected student leads to the IEDC community through a formal communication channel.<br>
                            Acknowledge the efforts of all participants and express gratitude for their interest in contributing to the IEDC.</li>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>x. Transition Period:</b> Facilitate a smooth transition by organizing handover sessions between outgoing and 
                            incoming student leads.<br>
                            Encourage collaboration during the transition period to ensure a seamless transfer of responsibilities.</li>
                        </div></div>
                        <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>xi. Onboarding: </b>Develop an onboarding program that includes training on IEDC policies, procedures, and expectations.<br>
                            Introduce new student leads to existing team members and provide resources to help them integrate into their roles effectively.</li>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>xii. Candidate feedback</b>     Collect feedback from candidates regarding their experience with the selection process.<br>
                            Use feedback to identify areas for improvement and implement changes in subsequent selection cycles.</li>
                        </div></div>
                        <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>xiii. Process evaluation:</b>    Conduct a post-selection evaluation with the selection committee to assess the 
                            effectiveness of the process.<br>
                            Identify strengths and weaknesses to inform improvements in future selection processes.</li>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>xiv. Regular update:</b>Communicate regularly with the IEDC community, providing updates on the progress of the selection process.<br>
                            Maintain transparency in the communication of key milestones and decision</li>
                        </div></div>
                        <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25"><li><b>xv. Transparency:</b>     Ensure transparency throughout the decision-making process by clearly communicating the 
                            criteria, steps, and rationale behind decisions.<br>
                            Address any inquiries or concerns from candidates or the IEDC community with openness and clarity.</li>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6  mt-25">
                            </div></div>  
                    </ul>                    
                </p>
                <h6 class="news-title mt-60">Selection of execom | Alternate</h6>                
                <p>
                    <ul>
                        <li><b>Formation of student interest groups:</b> Student interest groups are formed under various verticals
                        of IEDC execom positions.</li>
                        <li><b>Selection of leads:</b> Student leads shall be selected from the interest groups. Student leads shall 
                            be selected by the students through a transparent election procedure or through nomination and election</li>
                    </ul>                    
                </p>
                
                    
                <h6 class="news-title mt-60">Institution Innovation Council (IIC)</h6>
               
                    <div class="features-des-image features-des-image-2 text-center mb-50 w-img">
                        <img src="/assets/im/jpeg/execomiic.jpg" alt="">
                    </div>             
                                    
            </div>         
        </div>
        
     </div>
    </div>
    </section>
     <section>
        <div class="container">
            <div class="row md-12">
                <p>Thank you for being a valued member of the IEDC community. Your commitment to innovation is the driving force behind our collective success. If you have any questions or concerns regarding your Unique ID, feel free to contact us at bergin@startupmission.in or call me at6238998379.
            
                    Wishing you continued success on your entrepreneurial journey!</p>

            </div>
        </div>
     </section>
     
  </div>
</div>   
 


<!-- List of GOITBI modal end -->

<Cta></Cta>

<!-- cta-area-end -->



</main>

</Layout>
