---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <!-- slider-area-start -->
		<div class="slider-area">
            <div class="swiper-container slider__active">
                    <div class="slider-wrapper swiper-wrapper">
                            
                            <!-- /single-slider -->
                            <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/fdpcover.jpg">
                                <div class="container">
                                        
                                        <div class="row">
                                                <div class="col-xl-5">
                                                        <div class="slider-content">
                                                                <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
                                                                        <a href="/" class="st-btn b-radius">Enabling the enablers</a>
                                                                </div>
                                                                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">Faculty Entrepreneurship Development Programme<br></h2>
                                                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s"><br>
                                                                    <span></span></p>
                                                                <div class="slider-bottom-btn mt-75">
                                                                        <a data-animation="fadeInUp" data-delay="1.10s" href="https://forms.gle/z3H6vZoFu25NXa5P7" class="st-btn-b b-radius">Submit EOI</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                            </div>
                        <!-- /single-slider -->
                        
                        
                            <!-- /single-slider -->
                            
                            <div class="main-slider-paginations"></div>
                    </div>
            </div>
    </div>
    <!-- slider-area-end -->
    <!-- page-banner-area-end -->
    <!--Contents --> 
    <div class="news-detalis-area mt-120 mb-70">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                                <div class="abs-section-title text-justify">
                                <span>Faculty Entrepreneurship Development Programme</span>
                                <h4>FEDP</h4>
                                <div class="news-tag">                                        
                                         <a href="https://docs.google.com/document/d/1u8g0BARj0fFlHVWQr_dpe-jCI3c-AcyjQnBdH2w0UBM/edit?usp=sharing" class="_external" target="_blank">EOI document for hosting FEDP</a>
                                         <a href="https://forms.gle/z3H6vZoFu25NXa5P7" class="_external" target="_blank">Submit EOI for hosting FEDP</a>
                                         <a href="#" class="_external" target="_blank">EoI document for partnering in conducting FEDP (Closed)</a>
                                         <a href="#" class="_external" target="_blank">Submit EoI for partnering in conducting FEDP (Closed)</a>
                                </div>
                                <p></p>
                        </div>
                </div>
        </div>
           <div class="row">
              <div class="col-xl-8 col-lg-8">
                <div class="news-detalis-content mb-50">  
                    <h6 class="news-title mt-60">About the programme</h6>                  
                    <p>The State of Kerala has nodes of Entrepreneurship spread across the State as IEDCs and these 
                        IEDCs will act as first point of contact for all the tech innovations.

                        The Faculty Development Programme (FDP) is designed to given orientation f
                        or the Nodal Officers of Innovation and Entrepreneurship Development Centres 
                        (IEDCs) to extend support for the innovators in the institution in entrepreneurship 
                        development so that they can act as resource persons in guiding and motivating young 
                        students and spiring entrepreneurs to take up entrepreneurship as a career.
                        </p>                   
                    
                 </div>         
              </div>
              <div class="col-xl-4 col-lg-4">
                 <div class="news-sidebar pl-10">
                    <div class="row">                       
                       <div class="col-lg-12 col-md-6">
                        <div class="widget">
                            <h6 class="sidebar-title">Centralised FEDP Application</h6>
                            <ul class="n-sidebar-categories">
                                <li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative mb-10">
                                            Kerala Startup Mission | Apply now
                                            <span class="category-number">Closed</span>                                        
                                        </div>
                                    </a>
                                </li>
                                <!--<li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative mb-10">
                                            Innovators attended
                                            <span class="category-number">0</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative mb-10">
                                            Ideas Generated
                                            <span class="category-number">0</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative mb-10">
                                            Ideas Funded
                                            <span class="category-number">0</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative">
                                            Startups Formed
                                            <span class="category-number">0</span>
                                        </div>
                                    </a>
                                </li>-->
                            </ul>
                        </div>
                    </div>    
                        <div class="col-lg-12 col-md-6">
                            <div class="widget">
                                <h6 class="sidebar-title">FEDP Statistics</h6>
                                <ul class="n-sidebar-categories">
                                    <li>
                                        <a href="#">
                                            <div class="single-category p-relative mb-10">
                                                FEDP Conducted
                                                <span class="category-number">0</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="single-category p-relative mb-10">
                                                Faculties attended
                                                <span class="category-number">0</span>
                                            </div>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>                       
                        
                    </div>
                </div>
              </div>
           </div>
        </div>
     </div>   
       

    
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
