---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="/assets/im/jpeg/ideafest.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Idea Fest</h3>
                        <p>Give wings to your innovative ideas, an exclusive sceheme for the students of higher education institutions</p>
                            <div class="page-bottom-btn mt-55">
                            <a href="https://grants.startupmission.in/img/guidelines.pdf" 
                            class="st-btn-4" target="_blank">Policy and Guidelines</a>
                        
                            <a href="https://docs.google.com/presentation/d/1DM1eE8kAGgh8S6OWb6-wTnHDqjoDNPJk/edit?usp=sharing&ouid=111361519005395749414&rtpof=true&sd=true" 
                            class="st-btn-4" target="_blank">Pitch Deck Template</a>
                            <a href="https://forms.gle/g4PejmEx1wxLU4fi7" 
                            class="st-btn-4" target="_blank">Apply now for Idea Fest</a>
                           
                            <a href="https://grants.startupmission.in" class="st-btn-4" target="_blank">Idea Grant Portal</a>                                                            
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!--Counter-->
               

    <!-- Join Us -->
    <div class="services-area pt-70 light-bg-s pb-50">
        <div class="container">
            
            <div class="row">
                <div class="col-xl-12">
                    
                </div>
            </div>
            <div class="row mt-40">
                <div class="row align-items-center">
                    
                    <div class="col-xl-6 col-lg-6">
                        <div class="abs-section-title text-left">
                            <span>Exclusive sceheme for the students of higher education institutions</span>
                            <h4>Idea Fest</h4>
                            <p></p>
                        </div>
                            <div class="about-content">
                                    <p>
                                        Govt. of Kerala has introduced the Innovation Grant scheme to provide financial assistance to 
                                        startups, entrepreneurs and students to help them convert their innovative ideas into full 
                                        fledged ventures. This scheme is implemented through Kerala Startup Mission (KSUM), which 
                                        is the nodal agency of Govt. of Kerala for startup related activities and schemes.
                                        </p>
                                        <p>
                                        With a view to scout talented innovators from the campuses across the state and transform 
                                        them as technology entrepreneurs, Kerala Startup Mission hosts IDEA FEST.
                                        </p>
                                        <p>
                                        IDEA FEST provides Innovators an opportunity to present their ideas or college projects, 
                                        which can be converted to a practical real world solution, in front of an elite panel and 
                                        the teams which are shortlisted by the panel are offered grants based on the development 
                                        stage and innovative value of their ideas. This year for the first time, Idea Fest is open 
                                        to student as well as faculty innovators.                                                                            
                                    </p>

                                    
                                    
                            </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                               <div class="about-image w-img">
                                        <img src="/assets/im/jpeg/grow.png" alt="">
                                        </div>
                                        <a href="https://forms.gle/g4PejmEx1wxLU4fi7" class="st-btn-4" target="_blank">Apply now for Idea Fest</a>
                                        <p> Dashboard of applications</p>
                                        <div class="col-xl-6">
                                        <a href="https://lookerstudio.google.com/reporting/23c2bc80-d4e2-479f-b788-001727f941b6" class="st-btn-4" target="_blank">Dashboard</a>
                                        </div>
                                        <p>Idea Fest 2023 - Screening and phase I Selection</p>
                                        <div class="col-xl-6">
                                        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vReRHCdYm5--nYCEnlnHUmE6dO0p8xhcW49Z
                                        7cWpVaiS0ED7UNrpifqAdZKvMuaN1m6iFXKIFt2j6bH/pubhtml?gid=1386229645&single=true" class="st-btn-4" target="_blank">Selection Status</a>
                                        </div>
                                       
                               </div>
                       </div>
               </div>
                
        </div>
    </div>
    
    

    <!-- technolgy-index-start -->
    <div class="technolgy-index mt-70 mb-10">
        <div class="container">
        <div class="row">
            
            </div>
                                
        </div>
    </div>
    
    
   
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
