---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="/assets/im/jpeg/inn.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Join IEDC</h3>
                        <p>Be part of the largest network of aspiring entrepreneurs...<br>Be a change maker...</p>
                        <div class="page-bottom-btn mt-55">
                            <a href="https://forms.gle/BsoT8LMnsGTpdQQn7" class="st-btn-4" target="_blank">Students</a>
                        
                            <a href="https://forms.gle/7M9oMkuqS3KsdNwP8" class="st-btn-4" target="_blank">Researchers</a>
                           
                            <a href="https://forms.gle/m5T3unxc3wEXivKV6" class="st-btn-4" target="_blank">Faculties</a>
                                                
                            <a href="https://forms.gle/gDGd198XccSKUXq46" class="st-btn-4" target="_blank">Interested Individuals</a>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!--Counter-->
    <div class="product-details-des mt-40 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="product__details-des-tab">
                        <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des" type="button" role="tab" aria-controls="des" aria-selected="true">Description </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="aditional-tab" data-bs-toggle="tab" data-bs-target="#aditional" type="button" role="tab" aria-controls="aditional" aria-selected="false">Additional information</button>
                              </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Reviews (1) </button>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="prodductDesTaContent">
                <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                    <div class="product__details-des-wrapper">
                        <p class="des-text mb-35">Designed by Hans J. Wegner in 1949 as one of the first models created especially for Carl Hansen &amp; Son, and produced since 1950. The last of a series of chairs wegner designed based on inspiration from antique Chinese armchairs. The gently rounded top together with the back and seat offers a variety of comfortable seating positions,ideal for both long visits to the dining table and relaxed lounging.</p>
                        <h6 class="des-sm-title">The standard passage, used since the 1500s.</h6>
                        <p class="des-text mb-35">A light chair, easy to move around the dining table and about the room. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="features-des-image text-center">
                            <img src="assets/img/features-product/product-content-1.jpg" alt="">
                        </div>
                        <div class="product-des-section mb-90">
                            <h5 class="des-section mb-30">Get 30% Daily Cash
                              <br>  Back with Membership Card.</h5>
                              <p>A new collection of lounge furniture, occasional tables and a stool by Edward Barber &amp; Jay Osgerby offers a relaxed, contemporary attitude toward interior design. The lounge furniture includes four individualized sized sofas, and three complementary ottomans. Available in a range of upholstery fabrics and leathers, the lounge furniture is distinguished by stitched seams that reinforce its architectural profile, softened by the curvature of cushions on each face range of upholstery fabrics and leathers.</p>
                        </div>
                        <div class="row mb-80">
                            <div class="col-xl-6">
                                <div class="des-single mb-30 text-center">
                                    <div class="features-des-image text-center">
                                        <img src="assets/img/features-product/product-content-2.jpg" alt="">
                                    </div>
                                    <h5 class="des-section">Get 30% Daily Cash
                                        <br>  Back with Membership Card.</h5>
                                    <p>Sit amet conse ctetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore  magna aliqua.</p>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="des-single text-center mb-30">
                                    <div class="features-des-image">
                                        <img src="assets/img/features-product/product-content-3.jpg" alt="">
                                    </div>
                                    <h5 class="des-section text-center">Get 70% Daily Cash
                                        <br>  Back with Membership Card.</h5>
                                    <p>Sit amet conse ctetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore  magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                        <div class="features-des-image features-des-image-2 text-center mb-50 w-img">
                            <img src="assets/img/features-product/product-content-4.jpg" alt="">
                        </div>
                        <div class="des-sm-features">
                            <div class="des-sm-fet text-center mb-30">
                                <img src="assets/img/features-product/product-content-5.png" alt="">
                                <span>Ultra Wide Angle</span>
                            </div>
                            <div class="des-sm-fet text-center mb-30">
                                <img src="assets/img/features-product/product-content-6.png" alt="">
                                <span>Live Focus On</span>
                            </div>
                        </div>
                        <p class="des-text mb-35">Designed by Puik in 1949 as one of the first models created especially for Carl Hansen &amp; Son, and produced since 1950. The last of a series of chairs wegner designed based on inspiration from antique Chinese armchairs. The gently rounded top together with the back and seat offers a variety of comfortable seating positions,ideal for both long visits to the dining table and relaxed lounging. A light chair easy to move around the dining table and about the room. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                        <h6 class="des-sm-title">Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC.</h6>
                        <p class="des-text mb-25">Sound of Marshall, unplugs the chords, and takes the show on the road. Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound that is both articulate and pronounced. The analogue knobs allow you to fine tune the controls to your personal preferences while the guitar-influenced leather strap enables easy and stylish travel.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="aditional" role="tabpanel" aria-labelledby="aditional-tab">
                    <div class="product__desc-info">
                        <ul>
                           <li>
                              <h6>Weight</h6>
                              <span>2 lbs</span>
                           </li>
                           <li>
                              <h6>Dimensions</h6>
                              <span>12 × 16 × 19 in</span>
                           </li>
                           <li>
                              <h6>Product</h6>
                              <span>Purchase this product on rag-bone.com</span>
                           </li>
                           <li>
                              <h6>Color</h6>
                              <span>Gray, Black</span>
                           </li>
                           <li>
                              <h6>Size</h6>
                              <span>S, M, L, XL</span>
                           </li>
                           <li>
                              <h6>Model</h6>
                              <span>Model	</span>
                           </li>
                           <li>
                              <h6>Shipping</h6>
                              <span>Standard shipping: $5,95</span>
                           </li>
                           <li>
                              <h6>Care Info</h6>
                              <span>Machine Wash up to 40ºC/86ºF Gentle Cycle</span>
                           </li>
                           <li>
                              <h6>Brand</h6>
                              <span>Kazen</span>
                           </li>
                        </ul>
                     </div>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <div class="product__details-review">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="review-rate">
                                    <h5>5.00</h5>
                                    <div class="review-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                    </div>
                                    <span class="review-count">01 Review</span>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="review-des-infod">
                                    <h6>1 review for "<span>Wireless Bluetooth Over-Ear Headphones</span>"</h6>
                                    <div class="review-details-des">
                                        <div class="author-image mr-15">
                                            <a href="#"><img src="assets/img/author/author-sm-1.jpeg" alt=""></a>
                                        </div>
                                        <div class="review-details-content">
                                            <div class="str-info">
                                                <div class="review-star mr-15">
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                    <a href="#"><i class="fas fa-star"></i></a>
                                                </div>
                                                <div class="add-review-option">
                                                    <a href="#">Add Review</a>
                                                </div>
                                            </div>
                                            <div class="name-date mb-30">
                                                <h6> admin – <span> May 27, 2021</span></h6>
                                            </div>
                                            <p>A light chair, easy to move around the dining table and about the room. Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="product__details-comment ">
                                    <div class="comment-title mb-20">
                                       <h3>Add a review</h3>
                                       <p>Your email address will not be published. Required fields are marked *</p>
                                    </div>
                                    <div class="comment-rating mb-20">
                                       <span>Overall ratings</span>
                                       <ul>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                          <li><a href="#"><i class="fas fa-star"></i></a></li>
                                       </ul>
                                    </div>
                                    <div class="comment-input-box">
                                       <form action="#">
                                          <div class="row">
                                            <div class="col-xxl-6 col-xl-6">
                                                <div class="comment-input">
                                                   <input type="text" placeholder="Your Name">
                                                </div>
                                             </div>
                                             <div class="col-xxl-6 col-xl-6">
                                                <div class="comment-input">
                                                   <input type="email" placeholder="Your Email">
                                                </div>
                                             </div>
                                             <div class="col-xxl-12">
                                                   <textarea placeholder="Your review" class="comment-input comment-textarea"></textarea>
                                             </div>
                                             <div class="col-xxl-12">
                                                <div class="comment-agree d-flex align-items-center mb-25">
                                                   <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                      <label class="form-check-label" for="flexCheckDefault">
                                                       Save my name, email, and website in this browser for the next time I comment.
                                                      </label>
                                                    </div>
                                                </div>
                                             </div>
                                             <div class="col-xxl-12">
                                                <div class="comment-submit">
                                                   <button type="submit" class="cart-btn">Submit</button>
                                                </div>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      

    
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
