---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
	<!--<section class="moveing-text-area">
		<div class="container">
				<div class="ovic-running">
						<div class="wrap">
								<div class="inner">																	
									<p class="item">IEDC Callendar of Activities Published</p>																			
								</div>
						</div>
				</div>
		</div>
	</section>-->

	<main>
		<!-- slider-area-start -->
		<div class="slider-area">
				<div class="swiper-container slider__active">
						<div class="slider-wrapper swiper-wrapper">
							 <!-- /single-slider -->
							 <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/tbi.jpg">
								<div class="container">
										
										<div class="row">
												<div class="col-xl-5">
														<div class="slider-content">
																<div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
																		<a href="initiatives" class="st-btn b-radius">Call for proposals</a>
																</div>
																<h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">Accreditation of TBI<br></h2>
																<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s">Launchpad for startups and translating innovations...<br>
																	<span></span></p>
																<div class="slider-bottom-btn mt-75">
																		<a data-animation="fadeInUp" data-delay="1.10s" href="tbi" class="st-btn-b b-radius">Know More</a>
																</div>
														</div>
												</div>
										</div>
								</div>
							</div>
						<!-- /single-slider -->
								
							    <!-- /single-slider -->
								<div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/initiatives.jpg">
									<div class="container">
											
											<div class="row">
													<div class="col-xl-5">
															<div class="slider-content">
																	<div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
																			<a href="initiatives" class="st-btn b-radius">Initiatives</a>
																	</div>
																	<h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">Kerala Startup Mission Initiatives for IEDCs<br></h2>
																	<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s">Programmes designed for the upliftment of IEDCs and translating them to Innovation hubs and TBIs<br>
																		<span></span></p>
																	<div class="slider-bottom-btn mt-75">
																			<a data-animation="fadeInUp" data-delay="1.10s" href="/initiatives" class="st-btn-b b-radius">Know More</a>
																	</div>
															</div>
													</div>
											</div>
									</div>
								</div>
							<!-- /single-slider -->
							
							<!-- /single-slider -->
							
								<div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/coverhome.jpg">
										<div class="container">
												<div class="row">
														<div class="col-xl-5">
																<div class="slider-content">
																		<div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1.5s">
																				<a href="/joinus" class="st-btn b-radius">Join IEDC as innovator</a>
																		</div>
																		<h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">Largest network of aspiring entrepreneurs...</h2>
																		<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">Have an idea, that could revolutionise life..
																				<br>Give wings to your dreams by joining IEDC </p>
																		<div class="slider-bottom-btn mt-75">
																				<a data-animation="fadeInUp" data-delay="1.15s" href="/joinus" class="st-btn-b b-radius">Discover now</a>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div><!-- /single-slider -->
								<div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/coverproject.jpg">
										<div class="container">
												<div class="row">
														<div class="col-xl-5">
																<div class="slider-content">
																		<div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
																				<a href="/newiedc" class="st-btn b-radius">Apply for IEDC</a>
																		</div>
																		<h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">Join the startup revolution...</h2>
																		<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.7s">Institutions that wish to establish IEDC</p>
																		<div class="slider-bottom-btn mt-75">
																				<a data-animation="fadeInUp" data-delay="1.9s" href="/newiedc" class="st-btn-b b-radius">Apply now</a>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
								<!-- /single-slider -->
								<div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/coverhome1.jpg">
										<div class="container">
												
												<div class="row">
														<div class="col-xl-5">
																<div class="slider-content">
																		<div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
																				<a href="/report" class="st-btn b-radius">IEDC Activities</a>
																		</div>
																		<h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">IEDC Activities report<br></h2>
																		<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s">Submit the report of activities here</p>
																		<div class="slider-bottom-btn mt-75">
																				<a data-animation="fadeInUp" data-delay="1.10s" href="/report" class="st-btn-b b-radius">Submit now</a>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
								<!-- /single-slider -->
								
								<div class="main-slider-paginations"></div>
						</div>
				</div>
		</div>
		<!-- slider-area-end -->
		<!--About IEDC starts-->
		<div class="container">
			<!--counter-->			
			<div class="row align-items-center">							
				<div class="col-xl-12">
					<div class="about-content text-center">
						<h5 class="banner-t mb-30">Kerala Startup Mission IEDC</h5>
						<span>Innovation &amp; Entrepreneurship Development Centre</span>
						<p class="about-text">Flagship initiative of Kerala Startup Mission... For building vibrant startup ecosystem in academia...</p>
					</div>
				</div>
			</div>
			<div class="row align-items-center">							
				<div class="col-xl-5">
					<div class="about-content text-justify">
						<p>The Innovation and Entrepreneurship Development Centres (IEDC) are platforms set up in 
						Engineering, Management, Arts &amp; Science Colleges, Medical Institutions, Polytechnics and Universities 
						with an aim to provide students with an opportunity to experiment and innovate. Kerala Startup Mission 
						has set up IEDCs in higher educational institutions across the State which provide avenues for creative students to 
						learn, collaborate and transform their innovative ideas into prototypes of viable products and services. 
						IEDCs works as the first launch pad for a student’s entrepreneurial journey and provide them with access 
						to cutting edge technology, world-class infrastructure, high-quality mentorship, early risk capital and 
						global exposure. <br>
						Innovation and Entrepreneurship Development Centre (IEDC) is a flagship initiative of 
						Kerala Startup Mission to promote innovation and entrepreneurship among the student and academic 
						fraternity in the educational institutions in the State of Kerala and considered as an umbrella 
						programme that would play an instrumental role in fostering innovation culture in Academic institutions. </p>
					</div>
				</div>
				<div class="col-xl-7">
					<div class="swiper-container slider__active pb-30 swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
						<div class="slider-wrapper swiper-wrapper" style="transition-duration: 0ms;"><div class="single-slider b-radius-2 swiper-slide slider-height-2 d-flex align-items-center 
						swiper-slide-duplicate swiper-slide-duplicate-next" data-background="/assets/im/jpeg/tbi.jpg" style="background-image: url(&quot;/assets/im/jpeg/tbi.jpg&quot;); width: 866px; transition-duration: 0ms; opacity: 1; transform: translate3d(0px, 0px, 0px);" data-swiper-slide-index="2">
							<div class="slider-content slider-content-2">
								<h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5" style="animation-delay: 1.5s;">TBI<br> Technology Business Incubators</h2>
								<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s" style="animation-delay: 1.8s;">Launchpad for your entrepreneurial journey...</p>
								<div class="slider-bottom-btn mt-65">
								<a data-animation="fadeInUp" data-delay="1.10s" href="/tbi" class="st-btn-border b-radius-2" style="animation-delay: 1.1s;">Discover now</a>
								</div>
							</div>
						</div>
						<div class="single-slider swiper-slide b-radius-2 slider-height-2 d-flex align-items-center swiper-slide-prev" data-background="/assets/im/jpeg/h1.jpg" style="background-image: url(&quot;/assets/im/jpeg/tbi.jpg&quot;); width: 866px; transition-duration: 0ms; opacity: 1; transform: translate3d(-866px, 0px, 0px);" data-swiper-slide-index="0">
							<div class="slider-content slider-content-2">
								<h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5" style="animation-delay: 1.7s;">Dream it...</h2>
								<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s" style="animation-delay: 1.9s;"></p>
								<!--<div class="slider-bottom-btn mt-65">
								<a data-animation="fadeInUp" data-delay="1.15s" href="/" class="st-btn-border b-radius-2" style="animation-delay: 1.15s;"></a>
								</div>-->
							</div>
						</div><!-- /single-slider -->
						<div class="single-slider swiper-slide b-radius-2 slider-height-2 d-flex align-items-center swiper-slide-active" data-background="/assets/im/jpeg/h2.jpg" style="background-image: url(&quot;/assets/im/jpeg/coworktile.jpg&quot;); width: 866px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1732px, 0px, 0px);" data-swiper-slide-index="1">
							<div class="slider-content slider-content-2">
								<h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5" style="animation-delay: 1.5s;">Do it...</h2>
								<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.7s" style="animation-delay: 1.7s;"></p>
								<!--<div class="slider-bottom-btn mt-65">
									<a data-animation="fadeInUp" data-delay="1.9s" href="/" class="st-btn-border b-radius-2" style="animation-delay: 1.9s;"></a>
								</div>-->
							</div>
						</div><!-- /single-slider -->
						<div class="single-slider b-radius-2 swiper-slide slider-height-2 d-flex align-items-center swiper-slide-next" data-background="/assets/im/jpeg/h3.jpg" style="background-image: url(&quot;/assets/im/jpeg/iedcsq.jpg&quot;); width: 866px; transition-duration: 0ms; opacity: 0; transform: translate3d(-2598px, 0px, 0px);" data-swiper-slide-index="2">
							<div class="slider-content slider-content-2">
								<h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5" style="animation-delay: 1.5s;">IEDC<br></h2>
								<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s" style="animation-delay: 1.8s;">Gateway to the future</p>
								<!--<div class="slider-bottom-btn mt-65">
									<a data-animation="fadeInUp" data-delay="1.10s" href="/newiedc" class="st-btn-border b-radius-2" style="animation-delay: 1.1s;">Join the network</a>
								</div>-->
							</div>
						</div><!-- /single-slider -->
						<div class="main-slider-paginations swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
							<div class="single-slider swiper-slide b-radius-2 slider-height-2 d-flex align-items-center swiper-slide-duplicate swiper-slide-duplicate-prev" data-background="/assets/im/jpeg/iedcsq.jpg" style="background-image: url(&quot;/assets/im/jpeg/iedcsq.jpg&quot;); width: 866px; transition-duration: 0ms; opacity: 0; transform: translate3d(-3464px, 0px, 0px);" data-swiper-slide-index="0">
									<div class="slider-content slider-content-2">
										<h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5" style="animation-delay: 1.7s;">IEDC<br> Innovation and Entrepreneurship Development Centre</h2>
										<p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s" style="animation-delay: 1.9s;"></p>
										<!--<div class="slider-bottom-btn mt-65">
											<a data-animation="fadeInUp" data-delay="1.15s" href="" class="st-btn-border b-radius-2" style="animation-delay: 1.15s;">Discover now</a>
										</div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<!--About IEDC Ends-->
			<div class="technolgy-index mt-70 mb-10 pb-50">
				<div class="container">							                          
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
							<div class="ab-counter-item mb-30">
								<div class="ab-counter mb-20">
									<div class="counter-icon mr-10">
										<img src="/assets/img/about/c-icon-01.png" alt="">
									</div>
									<div class="counter_info">
											<span class="counter">453</span>
											<p></p>
									</div>
								</div>
									<h5>IEDCs</h5>
									<p>Innvation & Entrepreneurship development Centres</p>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
							<div class="ab-counter-item mb-30">
								<div class="ab-counter mb-20">
									<div class="counter-icon mr-10">
										<img src="/assets/img/about/c-icon-01.png" alt="">
									</div>
									<div class="counter_info">
										<span class="counter">23</span>
										<p></p>
									</div>
								</div>
									<h5>Kerala Startup Mission accredited TBIs</h5>
									<p>Handholding performing IEDCs to future TBIs</p>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
							<div class="ab-counter-item mb-30">
								<div class="ab-counter mb-20">
									<div class="counter-icon mr-10">
										<img src="/assets/img/about/c-icon-01.png" alt="">
									</div>
									<div class="counter_info">
										<span class="counter">13</span>
										<p></p>
									</div>
								</div>
									<h5>TBIs</h5>
									<p>Government of India approved Technology Business Incubators</p>
							</div>
						</div>
					</div>											
				</div>
			</div>
			

			<section class="banner__area banner__area-d pb-50">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="banner__item p-relative w-img mb-30">
								<div class="banner__img">
									<a href="tbi"><img src="assets/im/jpeg/tbi.jpg" alt=""></a>
								</div>
								<div class="banner__content">
									<span>Apply now to get your</span>
									<h6><a href="tbi">Technology Business Incubators</a></h6>
									<p>Accredited by Kerala Startup Mission</p>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="banner__item p-relative mb-30 w-img">
								<div class="banner__img">
									<a href="uniqueid"><img src="assets/im/jpeg/uid1.jpg" alt=""></a>
								</div>
								<div class="banner__content">
									<span>Apply now for </span>
									<h6><a href="uniqueid">IEDC Unique Identity number</a></h6>
									<p>Apply now to get your IEDC Certified</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!-- features__area-start -->
		<section class="features__area pt-20">
			<div class="container">
					
					<div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
							<div class="col">
									<div class="features__item d-flex white-bg">
											<div class="features__icon mr-20">
													<i class="fal fa-university"></i>
											</div>                            
											<div class="counter_info">
													<h3><span class="counter">175</span></h3>                                                                   
													<h5>Arts & Science Colleges and Universities</h5>                            
											</div>
									</div>
							</div>
							<div class="col">
									<div class="features__item d-flex white-bg">
											<div class="features__icon mr-20">
													<i class="fal fa-cogs"></i>
											</div>
											<div class="counter_info">
													<h3><span class="counter">177</span></h3>                                                                                             
													<h5>Engineering Colleges & NIT</h5>
											</div>  
									</div>
							</div>
							<div class="col">
									<div class="features__item d-flex white-bg">
											<div class="features__icon mr-20">
													<i class="fal fa-hospital"></i>
											</div>
											<div class="counter_info">
													<h3><span class="counter">34</span></h3>                            
													<h5>Health & Allied</h5> 
											</div>                           
									</div>
							</div>
							<div class="col">
									<div class="features__item features__item-last d-flex white-bg">
											<div class="features__icon mr-20">
													<i class="fad fa-cog"></i>
											</div>
											<div class="counter_info">
													<h3><span class="counter">67</span></h3>
													<h5>Polytechnic Colleges & ITIs</h5>
											</div>                            
									</div>
							</div>
					</div>
					<div class="services-item mb-30">
						<button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100">
						<a href="/activitycallendar">IEDC Activity Callendar</a>
								</button>
						</div>
					
			</div>
	</section>


	<section class="banner__area banner__area-d pb-10">
		<div class="container">
			<!--Initiatives -->
			<div class="row">
				<div class="col-xl-12">
					<div class="abs-section-title text-center">
						<span>Initiatives</span>								
					</div>
				</div>
			</div>

			<div class="slider-area light-bg-s pt-60">
				<div class="container custom-conatiner">
					<div class="row">
						<div class="col-xl-12">
							<div class="row">

								<div class="col-xl-4 col-lg-4 col-md-6">
									<div class="banner__item p-relative w-img mb-30">
										<div class="banner__img b-radius-2">
											<a href="newiedc"><img src="assets/im/jpeg/iedcsq.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="newiedc"><br>IEDC</a></h6>
											<p>Join the network</p>
										</div>
									</div>
								</div>

								<div class="col-xl-4 col-lg-4 col-md-6">
									<div class="banner__item p-relative w-img mb-30">
										<div class="banner__img b-radius-2">
											<a href="coworks"><img src="/assets/im/jpeg/coworktile.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="coworks">LEAP<br>Coworks</a></h6>
											<p>Office away from office</p>
										</div>
									</div>
								</div>

								<div class="col-xl-4 col-lg-4 col-md-6">
									<div class="banner__item p-relative w-img mb-30">
										<div class="banner__img b-radius-2">
											<a href="tbi"><img src="/assets/im/jpeg/tbisq.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="tbi"><br>TBI</a></h6>
											<p>Launchpad for startups</p>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>	
			
					<div class="row">
						<div class="col-xl-12">
							<div class="row">

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative mb-30 w-img">
										<div class="banner__img b-radius-2">
											<a href="bestpractices"><img src="/assets/im/jpeg/bestpractice.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="bestpractices">Best<br>Practices </a></h6>
											<p class="sm-p">Success model for IEDCs from IEDCs(Will be updated soon)</p>
										</div>
									</div>
								</div>

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative mb-30 w-img">
										<div class="banner__img b-radius-2">
											<a href="bestpractices"><img src="/assets/im/jpeg/bootcamp.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="bestpractices">Bootcamps<br></a></h6>
											<p class="sm-p">Capacity building programme for innovators (Will be updated soon)</p>
										</div>
									</div>
								</div>

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative w-img mb-30">
										<div class="banner__img b-radius-2">
											<a href="cluster"><img src="/assets/im/jpeg/clusteriedc.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="cluster">Cluster IEDCs</a></h6>
											<p>Developing Cross culture in academia (Coming Soon)</p>
										</div>
									</div>
								</div>

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative mb-30 w-img">
										<div class="banner__img b-radius-2">
											<a href="fdp"><img src="/assets/im/jpeg/fdp.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="fdp">FEDP</a></h6>
											<p class="sm-p">Faculty Entrepreneurship Development Programmes</p>
										</div>
									</div>
								</div>

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative mb-30 w-img">
										<div class="banner__img b-radius-2">
											<a href="accreditation"><img src="/assets/im/jpeg/accreditation.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="accreditation">IEDC <br> Accreditation </a></h6>
											<p class="sm-p">Ranking of IEDCs</p>
										</div>
									</div>
								</div>

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative w-img mb-30">
										<div class="banner__img b-radius-2">
											<a href="ipl"><img src="/assets/im/jpeg/ipl.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="ipl">IPL <br> </a></h6>
											<p class="sm-p">Innovators' Premiere League (Coming Soon)</p>
										</div>
									</div>
								</div>										

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative w-img mb-30">
										<div class="banner__img b-radius-2">
											<a href="nest"><img src="/assets/im/jpeg/nestsq.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="nest"><br>NEST</a></h6>
											<p>Place where communities flock togther</p>
										</div>
									</div>
								</div>

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative w-img mb-30">
										<div class="banner__img b-radius-2">
											<a href="reap"><img src="/assets/im/jpeg/reap.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="reap">REAP</a></h6>
											<p>Regional Entrepreneurship Advancement Programme</p>
										</div>
									</div>
								</div>

								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative mb-30 w-img">
										<div class="banner__img b-radius-2">
											<a href="startupi3"><img src="/assets/im/jpeg/startupi3.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="startupi3">Startup <br> i3 </a></h6>
											<p class="sm-p">Ideate | Innovate | Incubate</p>
										</div>
									</div>
								</div>				
		
								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="banner__item p-relative w-img mb-30">
										<div class="banner__img b-radius-2">
											<a href="salt"><img src="/assets/im/jpeg/salt.jpg" alt=""></a>
										</div>
										<div class="banner__content banner__content-2">
											<h6><a href="salt"><br>SALT</a></h6>
											<p>Startup Awarness and Leadership Training for School Students</p>
										</div>
									</div>
								</div>										
								
							</div>
						</div>
					</div>
				</div>
			</div>        
			<!--Counter-->
		</div>
	</section>
					        
				


					<!--initiatives -->
	
		<!-- features__area-start -->
		<section class="features__area pt-20">
				<div class="container">
						
						<div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
								<div class="col">
										<div class="features__item d-flex white-bg">
												<div class="features__icon mr-20">
														<i class="fal fa-university"></i>
												</div>                            
												<div class="counter_info">
														<h3><span class="counter">175</span></h3>                                                                   
														<h5>Arts & Science Colleges and Universities</h5>                            
												</div>
										</div>
								</div>
								<div class="col">
										<div class="features__item d-flex white-bg">
												<div class="features__icon mr-20">
														<i class="fal fa-cogs"></i>
												</div>
												<div class="counter_info">
														<h3><span class="counter">177</span></h3>                                                                                             
														<h5>Engineering Colleges & NIT</h5>
												</div>  
										</div>
								</div>
								<div class="col">
										<div class="features__item d-flex white-bg">
												<div class="features__icon mr-20">
														<i class="fal fa-hospital"></i>
												</div>
												<div class="counter_info">
														<h3><span class="counter">34</span></h3>                            
														<h5>Health & Allied</h5> 
												</div>                           
										</div>
								</div>
								<div class="col">
										<div class="features__item features__item-last d-flex white-bg">
												<div class="features__icon mr-20">
														<i class="fad fa-cog"></i>
												</div>
												<div class="counter_info">
														<h3><span class="counter">67</span></h3>
														<h5>Polytechnic Colleges & ITIs</h5>
												</div>                            
										</div>
								</div>
						</div>
						<div class="services-item mb-30">
							<button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100">
							<a href="/activitycallendar">IEDC Activity Callendar</a>
									</button>
							</div>
						
				</div>
		</section>
		<div class="services-area pt-70 light-bg-s pb-50">
				<div class="container">
						
						<div class="row">
								<div class="col-xl-12">
										<div class="abs-section-title text-center">
												<span>Join us</span>
												<h4>Join the largest network of aspiring entrepreneurs</h4>
												<p>Any interested individuals who wishes to take on the path of innovation and entrepreneurship can join IEDC</p>
										</div>
								</div>
						</div>
						<div class="row mt-40">
								<div class="col-xl-3 col-lg-3 col-md-6">
										<div class="services-item mb-30">
										<button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100">
										<a href="/newiedc">Apply for IEDC</a>
												</button>
										</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6">
										<div class="services-item mb-30">
										<button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
										<a href="/joinus">Join the network</a>
												</button>
										</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6">
										<div class="services-item mb-30">
										<button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100">
										<a href="/report">Submit Reports</a>
												</button>
										</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6">
										<div class="services-item mb-30">
										<button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
										<a href="https://iedc.startupmission.in" target="_blank">Know more about IEDCs</a>
												</button>
										</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="services-item mb-30">
									<button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
									<a href="/ideafest" target="_blank">Apply now for Idea Fest</a>
											</button>
									</div>
								</div>
								<div class="col-xl-3 col-lg-3 col-md-6">
									<div class="services-item mb-30">
									<button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
									<a href="/coworks">LEAP Coworks : Submit EOI</a>
											</button>
									</div>
								</div>

						</div>
				</div>
		</div>
		<!-- features__area-end -->

					 
		
		<Cta></Cta>

		
		<!-- cta-area-end -->

		

	</main>

</Layout>
