---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="/assets/im/jpeg/inn.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Join IEDC</h3>
                        <p>Be part of the largest network of aspiring entrepreneurs...<br>Be a change maker...</p>
                        <div class="page-bottom-btn mt-55">
                            <a href="https://forms.gle/BsoT8LMnsGTpdQQn7" class="st-btn-4" target="_blank">Students</a>
                        
                            <a href="https://forms.gle/7M9oMkuqS3KsdNwP8" class="st-btn-4" target="_blank">Researchers</a>
                           
                            <a href="https://forms.gle/m5T3unxc3wEXivKV6" class="st-btn-4" target="_blank">Faculties</a>
                                                
                            <a href="https://forms.gle/gDGd198XccSKUXq46" class="st-btn-4" target="_blank">Interested Individuals</a>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!--Counter-->
               

    <!-- Join Us -->
    <div class="services-area pt-70 light-bg-s pb-50">
        <div class="container">
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        <span>Join us</span>
                        <h4>Join the largest network of aspiring innovators</h4>
                        <p>Any interested individuals who wishes to take on the path of innovation and entrepreneurship can join IEDC</p>
                    </div>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-users"></i>
                        </div>
                        <h6>Students</h6>
                        <p>Interested students, who wishes to take on the journey of following your dreams and conquring them can join the network</p>
                        <div class="s-count-number">
                            <span>01</span>
                        </div>
                        <div class="page-bottom-btn mt-55">

                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://forms.gle/BsoT8LMnsGTpdQQn7" 
                                target="_blank">Apply as an Innovator</a>
                            </button>
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266" 
                                target="_blank">Statistics</a>
                            </button>


                            <!--<a href="https://forms.gle/BsoT8LMnsGTpdQQn7" target="_blank" class="st-btn-4">Students</a><br>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId">
                        Statistics
                        </button>-->
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-books"></i>
                        </div>
                        <h6>Researchers</h6>
                        <p>Researchers who wishes to translate their works and pursue the journey of building their own empire can join the network</p>
                        <div class="s-count-number">
                            <span>02</span>
                        </div>
                        <div class="page-bottom-btn mt-55">

                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://forms.gle/7M9oMkuqS3KsdNwP8" 
                                target="_blank">Apply as a Researcher</a>
                            </button>
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266" 
                                target="_blank">Statistics</a>
                            </button> 

                            <!--                      
                            <a href="https://forms.gle/7M9oMkuqS3KsdNwP8" target="_blank" class="st-btn-4">Researchers</a><br>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId1">
                        Statistics
                        </button>-->
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-chalkboard"></i>
                        </div>
                        <h6>Faculties</h6>
                        <p>Faculties are the changemakers, who motivate students to embark on the less taken road, travel and succeed in life.</p>
                        <div class="s-count-number">
                            <span>03</span>
                        </div>
                        <div class="page-bottom-btn mt-55">
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://forms.gle/6B1YueeoBof1g3uj8" 
                                target="_blank">Apply as a Faculty</a>
                            </button>
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266" 
                                target="_blank">Statistics</a>
                            </button> 
                           
                            <!--<a href="https://forms.gle/6B1YueeoBof1g3uj8" target="_blank" class="st-btn-4">Faculties</a>
                            <br>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId2">
                        Statistics
                        </button>-->
                                                
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-ethernet"></i>
                        </div>
                        <h6>Interested individuals</h6>
                        <p>Any interested individual, who has an interest in innovation and entrepreneurship can join the network of innovators</p>
                        <div class="s-count-number">
                            <span>04</span>
                        </div>
                        <div class="page-bottom-btn mt-55">
                            
                                                
                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://forms.gle/gDGd198XccSKUXq46" 
                                target="_blank">Apply as an individual</a>
                            </button>
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266" 
                                target="_blank">Statistics</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sJoin us-end -->

    <!-- technolgy-index-start -->
    <div class="technolgy-index mt-70 mb-10">
        <div class="container">
        <div class="row">
                                
        </div>
    </div>
    
    
    <!-- List of Students -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1cPL2TADdXA1Z-Gdt04_mTFOAVi42z899Xl97sZpeKtkQ9zDaK-0lfc400mhWbRfn_rGFT9_yWqwU/pubhtml?gid=1845074038&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of IEDC modal end -->
    <!-- List of Researchers modal start -->
    <div class="modal fade" id="productModalId1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1cPL2TADdXA1Z-Gdt04_mTFOAVi42z899Xl97sZpeKtkQ9zDaK-0lfc400mhWbRfn_rGFT9_yWqwU/pubhtml?gid=2082397695&amp;single=true&amp;widget=true&amp;headers=false"></iframe>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of KSUMTBI modal end -->
    <!-- List of Faculties modal start -->
    <div class="modal fade" id="productModalId2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1cPL2TADdXA1Z-Gdt04_mTFOAVi42z899Xl97sZpeKtkQ9zDaK-0lfc400mhWbRfn_rGFT9_yWqwU/pubhtml?gid=376646607&amp;single=true&amp;widget=true&amp;headers=false"></iframe>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of KSUMTBI modal end -->
    <!-- List of Interested Individuals start -->
    <div class="modal fade" id="productModalId3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1cPL2TADdXA1Z-Gdt04_mTFOAVi42z899Xl97sZpeKtkQ9zDaK-0lfc400mhWbRfn_rGFT9_yWqwU/pubhtml?gid=2003005764&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of GOITBI modal end -->
    <!-- List of Interested Individuals start -->
    <div class="modal fade" id="productModalIddb" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe src="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
