---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="IEDCNEST | Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
     <!-- page-banner-area-start -->
     <div class="page-banner-area page-banner-height-2" data-background="/assets/im/jpeg/covernest.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>IEDC NEST</h3>
                        <p><b>Where Communities Flock, Ideas Flourish</b></p> 
                        <p><b>Network of Entrepreneurs and Students' Team</b></p>
                                                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
   
    <!--Contents --> 
    <div class="news-detalis-area mt-120 mb-70">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                                <div class="abs-section-title text-justify">                                
                                <h4>IEDC NEST</h4>
                                <span>Network of Entrepreneurs and Students' Team</span>                                
                                <p></p>
                        </div>
                </div>
        </div>
           <div class="row">
              <div class="col-xl-8 col-lg-8">                
                <div class="news-detalis-content mb-50">  
                    <div class="news-tag mt-60">
                        <h5>Join IEDC NEST                       
                        <a href="http://ksum.in/IEDCNEST_3.0" class="_external" target="_blank">Apply now</a>                                         
                       </h5>
                   </div> 
                    <h2 class="mt-30">About the programme</h2>                  
                    <p>About IEDC NEST

                        Welcome to IEDC NEST, the dynamic hub within Innovation and Entrepreneurship Development Centres (IEDCs), 
                        dedicated to cultivating the next generation of innovators and entrepreneurs. IEDC NEST serves as the first 
                        launch pad for students embarking on their entrepreneurial journey, fostering a culture of creativity and 
                        forward-thinking.
                        </p>
                        <p>                        
                        At IEDC NEST, our mission is clear—to empower students with the skills and mindset needed to thrive in the 
                        world of innovation and entrepreneurship. We aim to bring together a community of passionate individuals, 
                        providing them with opportunities to lead IEDC activities on a state level.
                        </p>
                        
                            
                        <div class="news-tag mt-60">
                             <h5>Join IEDC NEST
                            
                             <a href="http://ksum.in/IEDCNEST_3.0" class="_external" target="_blank">Apply now</a>                                         
                            </h5>
                        </div> 
                        <div class="news-tag mt-60">
                            <h5>Join IEDC NEST as a partner
                           
                            <a href="/" class="_external" target="_blank">Partner with us | Closed</a>                                         
                           </h5>
                       </div>                 
                    
                 </div>         
              </div>
              <div class="col-xl-4 col-lg-4">
                 <div class="news-sidebar pl-10">
                    <div class="row">                       
                       <div class="col-lg-12 col-md-6">
                        <div class="widget">
                            <h6 class="sidebar-title">Centralised IEDCNEST Application</h6>
                            <p></p>
                            <ul class="n-sidebar-categories">
                                <li>
                                    <a href="http://ksum.in/IEDCNEST_3.0" class="external" target="_blank">
                                        <div class="single-category p-relative mb-10">
                                            IEDCNEST 2024
                                            <span class="category-number"> Open</span>                                        
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="external" target="_blank">
                                        <div class="single-category p-relative mb-10">
                                            IEDCNEST 2023
                                            <span class="category-number"> Closed </span>                                        
                                        </div>
                                    </a>
                                </li> 
                                <li>
                                    <a href="/" class="external" target="_blank">
                                        <div class="single-category p-relative mb-10">
                                            IEDCNEST 2022
                                            <span class="category-number"> Closed </span>                                        
                                        </div>
                                    </a>
                                </li>                                
                            </ul>
                        </div>
                    </div>    
                        <div class="col-lg-12 col-md-6">
                            <div class="widget">
                                <h6 class="sidebar-title">Statistics IEDCNEST</h6>
                                <ul class="n-sidebar-categories">
                                    <li>
                                        <a href="/">
                                            <div class="single-category p-relative mb-10">
                                                Selected to NEST Team
                                                <span class="category-number">40</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <div class="single-category p-relative mb-10">
                                                Applications Received
                                                <span class="category-number">445</span>
                                            </div>
                                        </a>
                                    </li>                                    
                                </ul>                                
                            </div>                            
                        </div>                       
                        
                    </div>
                </div>
              </div>
           </div>
        </div>
    </div>

    <div class="news-detalis-area">
        <div class="container">
            <div class="row">
            <div class="col-xl-6">                
                    <h3>IEDC NEST 2023 Team</h3>                
                <iframe class="airtable-embed" src="https://airtable.com/embed/app5loEErvF4kPksb/shrntetL5TeHKBwRL?backgroundColor=red&layout=card" 
                frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
            </div>        
            <div class="col-xl-6">                
                    <h3>IEDC NEST Alumni</h3>       
                    <iframe class="airtable-embed" src="https://airtable.com/embed/app5loEErvF4kPksb/shrRghdt6NuHhB8E0?backgroundColor=red" 
                    frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>               
            </div>
        </div>
        </div>
    </div>
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
