---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="/assets/im/jpeg/3devents.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Apply for new IEDC</h3>
                        <p>Be part of the largest network of change enablers...<br>Bring IEDC to your institute...</p>
                        <div class="page-bottom-btn mt-55">
                            <a href="https://forms.gle/5iXgWTjTy2b4BzCL7" class="st-btn-4" target="_blank">Apply now for IEDC</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!--Counter-->
    <div class="container">
            <div class="row mb-15">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        <span>Winds of change</span>
                        <h4>IEDC</h4>
                        <p>Building a vibrant startup ecosystem in the academia</p>
                    </div>
                </div>
            </div>                
        </div>
        <!--counter-->

        <div class="technolgy-index mt-70 mb-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="main-abs mb-30">                            
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="ab-counter-item mb-30">
                                    <div class="ab-counter mb-20">
                                        <div class="counter-icon mr-10">
                                            <img src="/assets/img/about/c-icon-01.png" alt="">
                                        </div>
                                        <div class="counter_info">
                                            <span class="counter">425</span>
                                           <p></p>
                                       </div>
                                    </div>
                                    <h5>IEDCs</h5>
                                    <p>Innvation & Entrepreneurship development Centres</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="ab-counter-item mb-30">
                                    <div class="ab-counter mb-20">
                                        <div class="counter-icon mr-10">
                                            <img src="/assets/img/about/c-icon-01.png" alt="">
                                        </div>
                                        <div class="counter_info">
                                            <span class="counter">23</span>
                                           <p></p>
                                       </div>
                                    </div>
                                    <h5>Kerala Startup Mission upgraded TBIs</h5>
                                    <p>Upgrading performing IEDCs to future TBIs</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="ab-counter-item mb-30">
                                    <div class="ab-counter mb-20">
                                        <div class="counter-icon mr-10">
                                            <img src="/assets/img/about/c-icon-01.png" alt="">
                                        </div>
                                        <div class="counter_info">
                                            <span class="counter">12</span>
                                           <p></p>
                                       </div>
                                    </div>
                                    <h5>TBIs</h5>
                                    <p>Government of India approved TBIs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!-- Join Us -->
    <div class="services-area pt-70 light-bg-s pb-50">
        <div class="container">
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        <span>Join us</span>
                        <h4>Apply for an Innovation & Entrepreneurship Development Centre</h4>
                        <p>Apply now</p>
                    </div>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-share-square"></i>
                        </div>
                        <h6>Submit online application form</h6>
                        <p>Interested institutions can submit the online application form. The applications submitted will be considered in tranches</p>
                        <div class="s-count-number">
                            <span>01</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-file"></i>
                        </div>
                        <h6>Verification & due diligence</h6>
                        <p>KSUM will verify the submitted applications based on the data submitted, and recommendations shall be made for sanctioning.</p>
                        <div class="s-count-number">
                            <span>02</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-thumbs-up"></i>
                        </div>
                        <h6>Approval by Kerala Startup Mission</h6>
                        <p>KSUM will issue sanction order to selected IEDCs that have passed the satisfactory verification and due diligence.</p>
                        <div class="s-count-number">
                            <span>03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-bottom-btn mt-55">
                            <a href="https://forms.gle/5iXgWTjTy2b4BzCL7" class="st-btn-4">Apply now for IEDC</a>
                        </div>
        </div>
    </div>
    <!-- sJoin us-end -->

    <!-- technolgy-index-start -->
    <div class="technolgy-index mt-70 mb-10">
        <div class="container">
        <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="product__item product__item-d">
                    <div class="product__content-3">
                        <h6><a href="product-details.html">Innovation & Entrepreneurship Development Centres</a></h6>
                        <div class="rating mb-5">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>                                    
                            </ul>
                            <span>425 IEDCs</span>
                        </div>
                        <div class="price mb-10">
                            <span>in Higher Education Institutions</span>
                        </div>
                    </div>
                    <div class="product__add-cart-s text-center">
                        
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId">
                        List of Existing IEDCs
                        </button>
                        <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100"><a href="https://forms.gle/5iXgWTjTy2b4BzCL7" class="external" target="_blank">
                        Apply now for an IEDC</a>
                        </button>
                    </div>
                </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="product__item product__item-d">
                    <div class="product__content-3">
                        <h6><a href="product-details.html">IEDC Upgraded to TBIs</a></h6>
                        <div class="rating mb-5">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>                                    
                            </ul>
                            <span>23 TBIs</span>
                        </div>
                        <div class="price mb-10">
                            <span>Kerala Startup Mission upgraded IEDCs to TBIs</span>
                        </div>
                    </div>
                    <div class="product__add-cart-s text-center">
                        
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId1">
                        List of Existing TBIs
                        </button>
                        <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                        Apply now for TBI (Application closed)
                        </button>
                    </div>
                </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="product__item product__item-d">
                    <div class="product__content-3">
                        <h6><a href="product-details.html">Government of India Sanctioned TBIs</a></h6>
                        <div class="rating mb-5">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>                                    
                            </ul>
                            <span>12 TBIs</span>
                        </div>
                        <div class="price mb-10">
                            <span>Sanctioned and supported by Government of India</span>
                        </div>
                    </div>
                    <div class="product__add-cart-s text-center">
                        
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId2">
                        List of Existing TBIs
                        </button>
                        <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100"><a href="https://www.indiascienceandtechnology.gov.in/listingpage/tbis" target="_blank" class="external">
                        Source</a>
                        </button>
                    </div>
                </div>
                </div>                
        </div>
    </div>
    
    
    <!-- List of IEDC modal start -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                            <iframe class="airtable-embed" src="https://airtable.com/embed/shrPdjxG3X1QnIpuL?backgroundColor=yellow
                            &viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: 
                            transparent; border: 1px solid #ccc;">
                            </iframe>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of IEDC modal end -->
    <!-- List of KSUMTBI modal start -->
    <div class="modal fade" id="productModalId1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                            <iframe class="airtable-embed" src="https://airtable.com/embed/shrd2RHj6wcVv77Vc?backgroundColor
                            =yellow&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: 
                            transparent; border: 1px solid #ccc;">
                            </iframe>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of KSUMTBI modal end -->
    <!-- List of GOITBI modal start -->
    <div class="modal fade" id="productModalId2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                        <iframe class="airtable-embed" src="https://airtable.com/embed/shrIZNWpot291bEru?backgroundColor
                        =yellow&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: 
                        transparent; border: 1px solid #ccc;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
   
    <!-- cta-area-end -->

    

  </main>


</Layout>
