---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">

  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="/assets/im/jpeg/ar.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Report Submission</h3>
                        <p>All reports that IEDCs has to submit and Innovators onboarding can be done here</p>
                        <div class="page-bottom-btn mt-55">
                            <!--<a href="#" class="st-btn-4 inactive">Complete Dashboard</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
               

    <!-- Join Us -->
    <div class="services-area pt-70 light-bg-s pb-50">
        <div class="container">
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        <span>Report of outcomes from IEDC</span>
                        <h4></h4>
                        <p>Submit report</p>
                    </div>
                </div>
            </div>
            <div class="row mt-40">                
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-paper-plane"></i>
                        </div>
                        <h6>Campus Sparks</h6>
                        <p>Campus Sparks aims to bring out the best innovations / products / startups of students from the campuses 
                            </p>
                        <div class="s-count-number">
                            <span>01</span>
                        </div>
                        

                        <div class="abs-section-title text-center">
                            <br><span>Submit innovations / products / startups</span>                                
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://forms.gle/qtTdJAQetEniAT897" 
                            target="_blank">Submit Details</a>
                        </button>
                        <div class="abs-section-title text-center">
                            <br><span>Dashboard</span>                                
                        </div>                            
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://lookerstudio.google.com/reporting/66c4e8e0-2387-475f-86b8-385b1b9d6193" 
                            target="_blank">Statistics</a>
                        </button>                        
                        
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-rocket-launch"></i>
                        </div>
                        <h6>Startups from IEDC</h6>
                        <p>IEDCs should identify scalable ideas, nourish them, support them and translate potential ideas to Startups</p>
                        <div class="s-count-number">
                            <span>02</span>
                        </div>
                        <div class="abs-section-title text-center">
                            <br><span>Add your Startup</span>                                
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://forms.gle/ymdqurnAN8A1b3548" 
                            target="_blank">Submit Startup Details</a>
                        </button>
                        <div class="abs-section-title text-center">
                            <br><span>Dashboard</span>                                
                        </div>                            
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://lookerstudio.google.com/reporting/c4b3e1cd-7329-41e7-88b3-6d61247709e0" 
                            target="_blank">Statistics</a>
                        </button>

                    </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-copyright"></i>
                        </div>
                        <h6>Patent from Institutions</h6>
                        <p>Institutions should identify scalable ideas, nourish them, support them and translate potential ideas to Patents</p>
                        <div class="s-count-number">
                            <span>03</span>
                        </div>
                        <div class="abs-section-title text-center">
                            <br><span>Add your Patent</span>                                
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://forms.gle/d8sUZifNm3FT7FTq8" 
                            target="_blank">Submit Patent Details</a>
                        </button>
                        <div class="abs-section-title text-center">
                            <br><span>Dashboard</span>                                
                        </div>                            
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="#" 
                            target="_blank">Statistics</a>
                        </button>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-list"></i>
                        </div>
                        <h6>Implementation of Projects by KSUM</h6>
                        <p>Startup Awareness and Leadership Training, Local Entrepreneurship Advancement Programme, Best Practices, Community / Clubs</p>
                        <div class="s-count-number">
                            <span>04</span>
                        </div>
                        <div class="abs-section-title text-center">
                            <br><span>Submit Project Completion Report</span>                                
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://forms.gle/Pzhaa1kfxZkpHGT28" 
                            target="_blank">Submit Report</a>
                        </button>
                        <div class="abs-section-title text-center">
                            <br><span>Dashboard</span>                                
                        </div>                            
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://lookerstudio.google.com/reporting/e95653c1-f046-4c89-8af1-1dbf959eedea" 
                            target="_blank">Statistics</a>
                        </button>

                    </div>
                </div>



                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-handshake"></i>
                        </div>
                        <h6>Mentors from Institutions</h6>
                        <p>Institutions should identify personnels/ resources who would be able to support and advice young innovators</p>
                        <div class="s-count-number">
                            <span>05</span>
                        </div>
                        <div class="abs-section-title text-center">
                            <br><span>Join as a Mentor</span>                                
                        </div>
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="https://forms.gle/Tvr3GndLbnXgQSiY9" 
                            target="_blank">Submit Mentor Details</a>
                        </button>
                        <div class="abs-section-title text-center">
                            <br><span>Dashboard- Unavailable</span>                                
                        </div>                            
                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                            <a href="#" 
                            target="_blank">Statistics</a>
                        </button>
                    </div>
                </div>

                
            </div>
        </div>
    </div>


                
    <!-- sJoin us-end -->
        <!-- Join Us -->
        <div class="services-area pt-70 light-bg-s pb-50">
            <div class="container">
                
                <div class="row">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <span>Activity report submission</span>
                            <h4></h4>
                            <p>Submit report</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-40">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-users"></i>
                            </div>
                            <h6>Submit IEDC Execom Details</h6>
                            <p>IEDCs should submit details of all the execom members of IEDC annually. The details may be submitted here</p>
                            <div class="s-count-number">
                                <span>01</span>
                            </div>
                            <div class="abs-section-title text-center">
                                <br><span>Execom details submission</span>                                
                            </div>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://forms.gle/fnkiBRf5WLTaUZnNA" 
                                target="_blank">Submit Execom Details</a>
                            </button>
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/87e56cf1-cdca-4ed8-8578-02eec450f97d" 
                                target="_blank">Statistics</a>
                            </button>                        
                            
                        </div>
                    </div>
    


                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-calendar-plus"></i>
                            </div>
                            <h6>Event report submission 2023-2024</h6>
                            <p>IEDCs should submit report of all the activities undertaken by IEDCs to Kerala Startup Mission in the form</p>
                            <div class="s-count-number">
                                <span>02</span>
                            </div>
                            <div class="abs-section-title text-center">
                                <br><span>01 April 2023 to 31 March 2024</span>                                
                            </div>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://forms.gle/ENh5qXAwPgZpbhNR6" 
                                target="_blank">Submit Report</a>
                            </button>
    
                            
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/5d51b387-aa70-41b8-92c6-1f743063ec5f" 
                                target="_blank">Statistics</a>
                            </button>                        
                            
                        </div>
                    </div>
    
    
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-file-certificate"></i>
                            </div>
                            <h6>IEDC Annual data Submission</h6>
                            <p>All IEDCs should mandatorily submit annual activity reports within 30 days from ending of finacial year
                                along with utilisation certificate.
                            </p>
                            <div class="s-count-number">
                                <span>03</span>
                            </div>
                            <div class="abs-section-title text-center">
                                <br><span>Submit your annual report</span>                                
                            </div>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://forms.gle/wpHynXYk1j4g5hhX9" 
                                target="_blank">Submit 2022 - 2023 Report</a>
                            </button>
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/8caf9cce-ee5b-49ad-939f-8e5b7ee676aa" 
                                target="_blank">Statistics</a>
                            </button>                        
                        </div>
                    </div>
    
                    
    
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-calendar-plus"></i>
                            </div>
                            <h6>Event report submission 2022 - 2023</h6>
                            <p>IEDCs should submit report of all the activities undertaken by IEDCs to Kerala Startup Mission in the form,</p>
                            <div class="s-count-number">
                                <span>04</span>
                            </div>
                            
    
                            <div class="abs-section-title text-center">
                                <br><span>01 April 2022 to 31 March 2023</span>                                
                            </div>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://forms.gle/qfWpaHAbKhvzSTCM6" 
                                target="_blank">Submit Event Report</a>
                            </button>
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/5d51b387-aa70-41b8-92c6-1f743063ec5f" 
                                target="_blank">Statistics</a>
                            </button>                        
                            
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-calendar-plus"></i>
                            </div>
                            <h6>Report submitted till February 2022</h6>
                            <p>IEDCs should submit report of all the activities undertaken by IEDCs to Kerala Startup Mission in the form</p>
                            <div class="s-count-number">
                                <span>05</span>
                            </div>
                            
    
                            <div class="abs-section-title text-center">
                                <br><span>Report Till February 2022</span>                                
                            </div>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="#">Submission Closed</a>
                            </button>
                            <div class="abs-section-title text-center">
                                <br><span>Dashboard</span>                                
                            </div>                            
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                <a href="https://lookerstudio.google.com/reporting/5d51b387-aa70-41b8-92c6-1f743063ec5f" 
                                target="_blank">Statistics</a>
                            </button>                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="services-area pt-70 light-bg-s pb-50">
            <div class="container">
                
                <div class="row">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <span>IEDC Membership and Statistics</span>
                            
                        </div>
                    </div>
                </div>
                <div class="row mt-40">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-users"></i>
                            </div>
                            <h6>Students</h6>
                            <p>Interested students, who wishes to take on the journey of following your dreams and conquring them can join the network</p>
                            <div class="s-count-number">
                                <span>01</span>
                            </div>
                            <div class="page-bottom-btn mt-55">
    
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                    <a href="https://forms.gle/BsoT8LMnsGTpdQQn7" 
                                    target="_blank">Apply as an Innovator</a>
                                </button>
                                <div class="abs-section-title text-center">
                                    <br><span>Dashboard</span>                                
                                </div>                            
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                    <a href="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266" 
                                    target="_blank">Statistics</a>
                                </button>
    
    
                                <!--<a href="https://forms.gle/BsoT8LMnsGTpdQQn7" target="_blank" class="st-btn-4">Students</a><br>
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId">
                            Statistics
                            </button>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-books"></i>
                            </div>
                            <h6>Researchers</h6>
                            <p>Researchers who wishes to translate their works and pursue the journey of building their own empire can join the network</p>
                            <div class="s-count-number">
                                <span>02</span>
                            </div>
                            <div class="page-bottom-btn mt-55">
    
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                    <a href="https://forms.gle/7M9oMkuqS3KsdNwP8" 
                                    target="_blank">Apply as a Researcher</a>
                                </button>
                                <div class="abs-section-title text-center">
                                    <br><span>Dashboard</span>                                
                                </div>                            
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                    <a href="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266" 
                                    target="_blank">Statistics</a>
                                </button> 
    
                                <!--                      
                                <a href="https://forms.gle/7M9oMkuqS3KsdNwP8" target="_blank" class="st-btn-4">Researchers</a><br>
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId1">
                            Statistics
                            </button>-->
                               
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-chalkboard"></i>
                            </div>
                            <h6>Faculties</h6>
                            <p>Faculties are the changemakers, who motivate students to embark on the less taken road, travel and succeed in life.</p>
                            <div class="s-count-number">
                                <span>03</span>
                            </div>
                            <div class="page-bottom-btn mt-55">
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                    <a href="https://forms.gle/6B1YueeoBof1g3uj8" 
                                    target="_blank">Apply as a Faculty</a>
                                </button>
                                <div class="abs-section-title text-center">
                                    <br><span>Dashboard</span>                                
                                </div>                            
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                    <a href="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266" 
                                    target="_blank">Statistics</a>
                                </button> 
                               
                                <!--<a href="https://forms.gle/6B1YueeoBof1g3uj8" target="_blank" class="st-btn-4">Faculties</a>
                                <br>
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId2">
                            Statistics
                            </button>-->
                                                    
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-ethernet"></i>
                            </div>
                            <h6>Interested individuals</h6>
                            <p>Any interested individual, who has an interest in innovation and entrepreneurship can join the network of innovators</p>
                            <div class="s-count-number">
                                <span>04</span>
                            </div>
                            <div class="page-bottom-btn mt-55">
                                
                                                    
                                
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                    <a href="https://forms.gle/gDGd198XccSKUXq46" 
                                    target="_blank">Apply as an individual</a>
                                </button>
                                <div class="abs-section-title text-center">
                                    <br><span>Dashboard</span>                                
                                </div>                            
                                <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" >
                                    <a href="https://lookerstudio.google.com/reporting/c71027fb-0f13-4c92-a510-01e8f55a1266" 
                                    target="_blank">Statistics</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sJoin us-end -->

    
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>


</Layout>
