---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <!-- slider-area-start -->
		<div class="slider-area">
            <div class="swiper-container slider__active">
                    <div class="slider-wrapper swiper-wrapper">
                            
                            <!-- /single-slider -->
                            <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/salt.jpg">
                                <div class="container">
                                        
                                        <div class="row">
                                                <div class="col-xl-5">
                                                        <div class="slider-content">
                                                                <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
                                                                        <a href="/" class="st-btn b-radius">Startup Awareness and Leadership Training for School Students</a>
                                                                </div>
                                                                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">SALT<br></h2>
                                                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s"><br>
                                                                    <span></span></p>
                                                                <div class="slider-bottom-btn mt-75">
                                                                        <a data-animation="fadeInUp" data-delay="1.10s" href="ideafest" class="st-btn-b b-radius">SALT</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                            </div>
                        <!-- /single-slider -->
                        
                        
                            <!-- /single-slider -->
                            
                            <div class="main-slider-paginations"></div>
                    </div>
            </div>
    </div>
    <!-- slider-area-end -->
    <!-- page-banner-area-end -->
    <!--Contents -->     
       
    <div class="news-detalis-area mt-120 mb-70">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                                <div class="abs-section-title text-justify">
                                <span>Startup Awareness and Leadership Training for School Students</span>
                                <h4>SALT</h4>
                                <div class="news-tag">                                        
                                         <a href="https://drive.google.com/file/d/1hYj7ZjHjAK67LBXFjtrj30KrCwmfiMmE/view?usp=sharing" class="_external" target="_blank">SALT Play Book</a>
                                         <a href="#" class="_external" target="_blank">Schools to request SALT</a>
                                         <a href="https://forms.zohopublic.com/keralastartupmission/form/ClientDetails35/formperma/65tuNnr4XWfA6BOp1BN7_S1599Dq83lprUFH1wLYRPY" class="_external" target="_blank">Submit report of SALT programme conducted</a>
                                         <a href="#" class="_external" target="_blank">Submit report of school student engagement programme conducted</a>
                                </div>
                                <p></p>
                        </div>
                </div>
        </div>
           <div class="row">
              <div class="col-xl-8 col-lg-8 ext-justify">
                <div class="news-detalis-content mb-50">  
                    <h6 class="news-title mt-60">About the programme</h6>                  
                    <p class="text-justify">Startup Awareness and Leadership Training is a training programme specifically
                        designed for school students of 9th & 11th standards. IEDCs can select a nearby high school to
                        implement this programme with the required mentorship and training provided by the
                        KSUM.
                        The programme aims to create awareness about entrepreneurship opportunities among
                        school students and to inculcate scientific spirit among young minds. The SALT
                        programme can be conducted based on the flexibility of the host institution (Host
                        Institution is the IEDC that hosts the SALT Programme). While selecting institutions, due
                        weightage may be given to institutions having Tinker labs. The SALT programme is
                        envisaged to cover the basics of Entrepreneurship, Leadership, Innovation, Personality
                        Development, Communication, and much more. Students who have successfully
                        completed the programme shall be given certificates and other goodies.
                        </p>                   
                    
                 </div>         
              </div>
              <div class="col-xl-4 col-lg-4">
                 <div class="news-sidebar pl-10">
                    <div class="row">                       
                       <div class="col-lg-12 col-md-6">
                        <div class="widget">
                            <!--<h6 class="sidebar-title">Centralised FEDP Application</h6>
                            <ul class="n-sidebar-categories">
                                <li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative mb-10">
                                            Kerala Startup Mission | Apply now
                                            <span class="category-number">Closed</span>                                        
                                        </div>
                                    </a>
                                </li>-->
                                <!--<li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative mb-10">
                                            Innovators attended
                                            <span class="category-number">0</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative mb-10">
                                            Ideas Generated
                                            <span class="category-number">0</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative mb-10">
                                            Ideas Funded
                                            <span class="category-number">0</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog-details.html">
                                        <div class="single-category p-relative">
                                            Startups Formed
                                            <span class="category-number">0</span>
                                        </div>
                                    </a>
                                </li>-->
                            </ul>
                        </div>
                    </div>    
                        <div class="col-lg-12 col-md-6">
                            <div class="widget">
                                <h6 class="sidebar-title">SALT Statistics</h6>
                                <ul class="n-sidebar-categories">
                                    <li>
                                        <a href="/">
                                            <div class="single-category p-relative mb-10">
                                                SALT Conducted
                                                <span class="category-number">0</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <div class="single-category p-relative mb-10">
                                                Students attended
                                                <span class="category-number">0</span>
                                            </div>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>                       
                        
                    </div>
                </div>
              </div>
           </div>
        </div>
     </div>   
       

    
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
