---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <!-- slider-area-start -->
		<div class="slider-area">
            <div class="swiper-container slider__active">
                    <div class="slider-wrapper swiper-wrapper">
                            
                            <!-- /single-slider -->
                            <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/tbi.jpg">
                                <div class="container">
                                        
                                        <div class="row">
                                                <div class="col-xl-5">
                                                        <div class="slider-content">
                                                                <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
                                                                        <a href="/" class="st-btn b-radius">Techology Business Incubators</a>
                                                                </div>
                                                                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">TBI<br></h2>
                                                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s"><br>
                                                                    <span></span></p>
                                                                <div class="slider-bottom-btn mt-75">
                                                                        <a data-animation="fadeInUp" data-delay="1.10s" href="ideafest" class="st-btn-b b-radius">Kerala Startup Mission TBI</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                            </div>
                        <!-- /single-slider -->
                        
                        
                            <!-- /single-slider -->
                            
                            <div class="main-slider-paginations"></div>
                    </div>
            </div>
    </div>
    <!-- slider-area-end -->
    <!-- page-banner-area-end -->
    <!--Contents --> 
     <!--Contents --> 
     <div class="news-detalis-area mt-50 mb-70">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                                <div class="abs-section-title text-justify">
                                <span></span>
                                <h4>Technology Business Incubators</h4>
                                <div class="news-tag">                                        
                                         <a href="https://docs.google.com/document/d/e/2PACX-1vTl5MCcFCartFf0jZfi61LaznhkFA5d3Pa3uqWEM0vcmYEFKGIoLoxgosrWB7eD0Q/pub" class="_external" target="_blank">Policy and guidelines</a>
                                         <a href="#" class="_external" target="_blank">Accreditation of TBIs (Closed)</a>
                                         <a href="#" class="_external" target="_blank">Upgrdation of IEDCs (Closed)</a>                                         
                                </div>
                                <div class="abs-section-title text-justify">
                                        <span>List of Technology Business Incubators</span>
                                        <h4></h4>
                                <div class="news-tag">                                        
                                        <a href="https://airtable.com/app4yLZD1YeaXnGkZ/shrIZNWpot291bEru/tblmuiJxtzn5EopRj?backgroundColor=yellow&viewControls=on" class="_external" target="_blank">Government of India Sanctioned TBI</a>
                                        <a href="https://airtable.com/app4yLZD1YeaXnGkZ/shrd2RHj6wcVv77Vc/tblckyPNUSOyDKI6p?backgroundColor=yellow&viewControls=on" class="_external" target="_blank">Kerala Startup Mission accredited of TBIs</a>
                                                                                 
                               </div>
                                <p></p>
                        </div>
                </div>
        </div>
           <div class="row mt-50 mb-70">
              <div class="col-xl-8 col-lg-8">
                <div class="col-xl-12">
                        <div class="abs-section-title text-justify">
                            <span>Launchpad for startups</span>
                            <h4>Technology Business Icubators</h4>
                            <p>Government of Kerala initiated the Startup movement through Kerala Startup Mission(KSUM) by forging and 
                                    implementing forward-looking policies for creating a vibrant Startup ecosystem in the state primarily 
                                    to foster the growth of innovation lead technology entrepreneurship by supporting all the strata of 
                                    society to encourage them to come up with ideas and to turn it into business so that they may obtain 
                                    gainful employment and can employ others as well.</p>
                                    <p>Kerala is currently witnessing the rise of technology driven, innovation-led and knowledge-based 
                                    enterprises right from the college level. KSUM put forward the concept of Innovation and 
                                    Entrepreneurship Development Centre (IEDC) in the year 2014 and was formulated to promote 
                                    innovation and entrepreneurial culture in educational institutions and to develop institutional 
                                    mechanisms to foster techno-entrepreneurs. IEDC aims to create awareness, exposure and technology 
                                    skills among the students and to enable and promote an environment to create technopreneurial ventures 
                                    by developing innovative products of social relevance. IEDCs act as mini incubators enabling students to 
                                    work on prototypes while studying and entrepreneurship has already become a part of the educational system 
                                    in the state.
                                    </p>
                                <p>Business incubation has been globally recognized as an important tool for job creation and economic development. 
                                    Innovation and Entrepreneurship Development Centre of Kerala Startup Mission in educational institutions that 
                                    shows promising performance and contributing to the startup pipeline of the state shall be upgraded as Technology 
                                    Business Incubators. This shall primarily aim  to tap innovations and technologies for venture creation in and 
                                    around academic, technical and management institutions by utilising expertise and infrastructure already 
                                    available with the Host Institution (HI). Technology based new enterprises are high risk and high growth ventures, 
                                    and require an enabling environment to enhance the prospects of their success.</p>
                        </div>
                    </div> 
                    
                   
                </div> 
              <div class="col-xl-4 col-lg-4">
                 <div class="news-sidebar pl-10">
                    <div class="row">                       
                       <div class="col-lg-12 col-md-6">
                        <div class="widget">
                            <h6 class="sidebar-title">Centralised TBI application for accreditation</h6>
                            <ul class="n-sidebar-categories">
                                <li>
                                    <a href="#">
                                        <div class="single-category p-relative mb-10">
                                            Government of India Sanctioned TBI
                                            <span class="category-number">Closed</span>                                        
                                        </div>
                                    </a>
                                </li>
                                <li>
                                <a href="#">
                                        <div class="single-category p-relative mb-10">
                                        R&D institutions and Universities
                                        <span class="category-number">Closed</span>                                        
                                        </div>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                        <div class="single-category p-relative mb-10">
                                        IEDCs as TBI
                                        <span class="category-number">Closed</span>                                        
                                        </div>
                                </a>
                                </li>                                
                            </ul>
                        </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                                <div class="widget">
                                    <h6 class="sidebar-title">Centralised TBI application for upgradation (with funding support)</h6>
                                    <ul class="n-sidebar-categories">
                                        <li>
                                            <a href="#">
                                                <div class="single-category p-relative mb-10">
                                                    Government of India Sanctioned TBI
                                                    <span class="category-number">Closed</span>                                        
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                        <a href="#">
                                                <div class="single-category p-relative mb-10">
                                                R&D institutions and Universities
                                                <span class="category-number">Closed</span>                                        
                                                </div>
                                        </a>
                                        </li>
                                        <li>
                                        <a href="#">
                                                <div class="single-category p-relative mb-10">
                                                IEDCs as TBI
                                                <span class="category-number">Closed</span>                                        
                                                </div>
                                        </a>
                                        </li>                                
                                    </ul>
                                </div>
                                </div>
                        
                        <div class="col-lg-12 col-md-6">
                            <div class="widget">
                                <h6 class="sidebar-title">TBI Statistics</h6>
                                <ul class="n-sidebar-categories">
                                    <li>
                                        <a href="https://airtable.com/app4yLZD1YeaXnGkZ/shrIZNWpot291bEru/tblmuiJxtzn5EopRj?backgroundColor=yellow&viewControls=on" target="_blank">
                                            <div class="single-category p-relative mb-10">
                                                Governmentof India Sanctioned TBIs
                                                <span class="category-number">13</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://airtable.com/app4yLZD1YeaXnGkZ/shrd2RHj6wcVv77Vc/tblckyPNUSOyDKI6p?backgroundColor=yellow&viewControls=on" target="_blank">
                                            <div class="single-category p-relative mb-10">
                                                Startup Mission upgraded IEDCs
                                                <span class="category-number">23</span>
                                            </div>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>                       
                        
                    </div>
                </div>
              </div>
           </div>
        </div>
     </div>   
         
            
            
      
    
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
