---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <!-- slider-area-start -->
		<div class="slider-area">
            <div class="swiper-container slider__active">
                    <div class="slider-wrapper swiper-wrapper">
                            
                            <!-- /single-slider -->
                            <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/assets/im/jpeg/team.jpg">
                                <div class="container">
                                        
                                        <div class="row">
                                                <div class="col-xl-5">
                                                        <div class="slider-content">
                                                                <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1s">
                                                                        <a href="https://startupmission.kerala.gov.in/team" class="st-btn b-radius">Kerala Startup Mission Team</a>
                                                                </div>
                                                                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">IEDC Team<br></h2>
                                                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s"><br>
                                                                    <span></span></p>
                                                                <div class="slider-bottom-btn mt-75">
                                                                        <a data-animation="fadeInUp" data-delay="1.10s" href="ideafest" class="st-btn-b b-radius">Kerala Startup Mission team</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                            </div>
                        <!-- /single-slider -->
                        
                        
                            <!-- /single-slider -->
                            
                            <div class="main-slider-paginations"></div>
                    </div>
            </div>
    </div>
    <!-- slider-area-end -->
    <!-- page-banner-area-end -->
    <div class="services-area pt-70  pb-50">
        <div class="container">            
            <div class="row">                
                <div class="team-area light-bg-s pt-70 pb-40">
                    <div class="container">
                        <div class="row mb-35">
                            <div class="col-xl-12">
                                <div class="abs-section-title text-center">
                                    <h4>Meet the Team</h4>
                                    <span>Leadership Team</span>                                    
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-team text-center mb-30">
                                    <div class="team-image mb-35 w-img">
                                        <div class="inner-timg">
                                            <a href="about.html">
                                                <img src="/assets/im/jpeg/anoopambika.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tauthor-degination mb-15">
                                        <h5><a href="about.html">Anoop Ambika</a></h5>
                                        <span>Chief Executive Officer</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-team text-center mb-30">
                                    <div class="team-image mb-35 w-img">
                                        <div class="inner-timg">
                                            <a href="about.html">
                                                <img src="/assets/im/jpeg/bsreekumarannair.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tauthor-degination mb-15">
                                        <h5><a href="about.html">B Sreekumaran Nair</a></h5>
                                        <span>Secretary and Registrar</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-team text-center mb-30">
                                    <div class="team-image mb-35 w-img">
                                        <div class="inner-timg">
                                            <a href="about.html">
                                                <img src="/assets/im/jpeg/tomthomas.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tauthor-degination mb-15">
                                        <h5><a href="about.html">Tom Thomas</a></h5>
                                        <span>Chief Operating Officer</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-team text-center mb-30">
                                    <div class="team-image mb-35 w-img">
                                        <div class="inner-timg">
                                            <a href="about.html">
                                                <img src="/assets/im/jpeg/akp.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tauthor-degination mb-15">
                                        <h5><a href="about.html">Ashok Kurian Panjikkaran</a></h5>
                                        <span>Senior Manager</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row mb-35">
                            <div class="col-xl-12">
                                <div class="abs-section-title text-center">
                                    <span>IEDC Team</span>                                    
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-team text-center mb-30">
                                    <div class="team-image mb-35 w-img">
                                        <div class="inner-timg">
                                            <a href="about.html">
                                                <img src="/assets/im/jpeg/bsr.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tauthor-degination mb-15">
                                        <h5><a href="about.html">Bergin S Russel</a></h5>
                                        <span>Head - Academic Entrepreneurship Initiatives</span><br>
                                        <span>bergin@startupmission.in</span><br>
                                        <span>+91 62389 98379</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-team text-center mb-30">
                                    <div class="team-image mb-35 w-img">
                                        <div class="inner-timg">
                                            <a href="about.html">
                                                <img src="/assets/im/jpeg/adarsh.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tauthor-degination mb-15">
                                        <h5><a href="about.html">Adarsh Vijayan</a></h5>
                                        <span>Lead - Entrepreneurship Development</span><br>
                                        <span>v.adarsh@startupmission.in</span><br>
                                        <span>+91 89211 48007</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-team text-center mb-30">
                                    <div class="team-image mb-35 w-img">
                                        <div class="inner-timg">
                                            <a href="about.html">
                                                <img src="/assets/im/jpeg/aswathy.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tauthor-degination mb-15">
                                        <h5><a href="about.html">Aswathy V Girija</a></h5>
                                        <span>Lead - Entrepreneurship Development (Women)</span><br>
                                        <span>aswathy@startupmission.in</span><br>
                                        <span>+91 93251 73401</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-team text-center mb-30">
                                    <div class="team-image mb-35 w-img">
                                        <div class="inner-timg">
                                            <a href="about.html">
                                                <img src="/assets/im/jpeg/" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tauthor-degination mb-15">
                                        <h5><a href="about.html">Nithin</a></h5>
                                        <span>Intern - IEDC</span><br>
                                        <span>iedcintern@startupmission.in</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            
            <div class="row">
                
                <div class="services-item mb-30">
                    <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100">
                    <a href="https://startupmission.kerala.gov.in/team">Meet the Kerala Startup Mission team</a>
                            </button>
                    </div>
            </div>
        </div>
                    
       

    
    <!-- List of GOITBI modal end -->
    
    <Cta></Cta>
    
    <!-- cta-area-end -->

    

  </main>

</Layout>
