---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout  title="Kerala Startup Mission">
	
  <main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height-2" data-background="/assets/im/jpeg/coveruid.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>Unique Identification Number</h3>
                        
                        <div class="page-bottom-btn mt-55">
                            <a href="https://zfrmz.com/VPW6BPAB0qDeHI1r8QJS" 
                            class="st-btn-4" target="_blank">Apply for UID</a>                        
                            <a href="/" 
                            class="st-btn-4" target="_blank">Student Leads Data Submission</a>                           
                            <!--<a href="" class="st-btn-4" target="_blank">Results</a> -->  
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->
    <!--Counter-->
    <section>
        <div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-8">
          <div class="news-detalis-content mb-50">  
              <h6 class="news-title mt-60">Unique Identification Number</h6>                  
              <p>In the dynamic landscape of Innovation and Entrepreneurship Development Centers (IEDCs), 
                the implementation of Unique IDs stands as a pivotal strategy for fostering precision, 
                efficiency, and robust data management. A Unique ID serves as an exclusive identifier 
                assigned to each IEDC, enabling seamless organization, retrieval, and analysis of 
                crucial information within these centers.</p>
                <p>In recent times IEDCs has evolved from just being a centre to a platform for collaboration,
                    development of inter departmental and inter institutional innovations and products. IEDCs are 
                    evolving to centre of excellence in Innovation and Entrepreneurship in the regions. 
                    <b>Kerala Startup Mission </b>will be issuing Unique ID numbers to all IEDCs. The certificate of IEDCs 
                    with Unique ID will send to the official IEDC mail IDs once the mandatory conditions and criterias are met 
                    with. The certificate will be valid for one year from 01 January 2024 to 31 January 2025. This shall be linked 
                    with accreditation of IEDC from this year onwards.
                </p>
            
            <h6 class="news-title mt-60">Mandatory Requirements</h6>
            <p class="mt-25 mb-50">
              <ul>
              <li><b>Participate in accreditation of IEDCs</b></li>
              <li><b>Submit Nodal officers details</b> IEDCs should have atleaset two nodal officers and atleast one should be female</li>
              <li><b>Submit student lead details</b> Student execom as per Kerala Startup Missions guidelines should be formed and data 
                should be submitted. to Kerala Startup Mission 
                <i>As informed in the previous years the official office of IEDC leads will be from January to December every year. 
                    New leads should be elected and take charge of IEDC on or before 31 January 2023. If the existing LEADS graduates 
                    on or after 31 December 2024, their data shall be considered. If not, new leads shall be selected and the existing 
                    leads already in office shall continue along with the new leads till their period lasts.</i></li>
              <li><b>Active participation in all programmes of Kerala Startup Mission</b></li>
              </ul>
              </p>
               
              <h6 class="news-title mt-60">Benefits of Unique ID</h6>
              <p class="mt-25 mb-50">
                <ul>
                <li><b>Access to Exclusive Resources:</b> Your ID grants you access to a range of exclusive resources, materials, and tools to fuel your entrepreneurial journey.</li>
                <li><b>Priority Registration for Events:</b> Enjoy priority registration and exclusive invites to workshops, seminars, and networking events organized by the Kerala Startup Mission.</li>
                <li><b>Networking Opportunities:</b> Connect with like-minded innovators, mentors, and industry experts through our growing network of IEDC members.</li>
                <li><b>Discounts and Offers:</b> Avail special discounts on IEDC merchandise, events, and partner programs.</li>
                </ul>
                </p>
              <h6 class="news-title news-title-2 pt-55">How to Use Your Unique ID</h6>
              <div class="blog-inner mt-30">                       
                <p class="mt-25 mb-50">
                    <ul>
                    <li><b>Use Your ID at IEDC Events:</b> Unique ID linked benefits for IEDCs from Kerala Startup Mission.</li>
                    <li><b>Redeem Discounts:</b> Unique ID linked benefits will be shared by mail and can be redeemed.</li>
                    <li><b>Security Measures:</b> Rest assured that your Unique ID is designed with your privacy and security in mind. Please keep your various codes shared for the ID Confidential and IEDC shall solely be responsible for unauthorized access.</li>
                    </ul>
                    </p>
                                    
                 
              </div>              
           </div>         
        </div>
        <div class="col-xl-4 col-lg-4">
           <div class="news-sidebar pl-10">
              <div class="row">                       
                 <div class="col-lg-12 col-md-6">
                  <div class="widget">
                      <h6 class="sidebar-title">Understanding Unique ID</h6>
                      <ul class="n-sidebar-categories">
                          <li>
                              <a href="#">
                                  <div class="single-category p-relative mb-10">
                                      KSUM/IEDC/TVM/ABCD/INST/20241000
                                      <span class="category-number">-</span>                                        
                                  </div>
                                  <p>
                                    <ul>
                                        <li><b>KSUM</b> - Kerala Startup Mission</li>
                                    </ul>
                                    <ul>
                                        <li><b>IEDC</b> - Innovation and Entrepreneurship Development Centre</li>
                                    </ul>
                                    <ul>
                                        <li><b>TVM</b> - District code of institution</li>
                                    </ul>
                                    <ul>
                                        <li><b>ABCD</b> - Category of institution</li>
                                    </ul>
                                    <ul>
                                        <li><b>INST</b> - Institution Code as per AICTE / UGC</li>
                                    </ul>
                                    <ul>
                                        <li><b>2024</b> - Year of formation of IEDC</li>
                                    </ul>
                                    <ul>
                                        <li><b>1000</b> - Unique registration number of application</li>
                                    </ul>
                                  </p>
                              </a>
                          </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h6 class="sidebar-title">Centralised Unique ID Application</h6>
                        <ul class="n-sidebar-categories">
                            <li>
                                <a href="#">
                                    <div class="single-category p-relative mb-10">
                                        Unique IDs issued
                                        <span class="category-number">0</span>                                        
                                    </div>
                                </a>
                            </li>                          
                        </ul>
                    </div>
                </div>    
                  <div class="col-lg-12 col-md-6">
                      <div class="widget">
                          <h6 class="sidebar-title">Category Wise status</h6>
                          <ul class="n-sidebar-categories">
                              <li>
                                  <a href="#">
                                      <div class="single-category p-relative mb-10">
                                          A
                                          <span class="category-number">0</span>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="single-category p-relative mb-10">
                                          B
                                          <span class="category-number">0</span>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="single-category p-relative mb-10">
                                          C
                                          <span class="category-number">0</span>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="single-category p-relative mb-10">
                                          D
                                          <span class="category-number">0</span>
                                      </div>
                                  </a>
                              </li>                              
                          </ul>
                      </div>
                  </div>                     
                  
              </div>
          </div>
        </div>
     </div>
    </div>
    </section>
     <section>
        <div class="container">
            <div class="row md-12">
                <p>Thank you for being a valued member of the IEDC community. Your commitment to innovation is the driving force behind our collective success. If you have any questions or concerns regarding your Unique ID, feel free to contact us at bergin@startupmission.in or call me at6238998379.
            
                    Wishing you continued success on your entrepreneurial journey!</p>

            </div>
        </div>
     </section>
     
  </div>
</div>   
 


<!-- List of GOITBI modal end -->

<Cta></Cta>

<!-- cta-area-end -->



</main>

</Layout>
