<!-- cta-area-start -->
<section class="cta-area d-ldark-bg pt-55 pb-10">
  <div class="container">
      <div class="row">
          <div class="col-lg6 col-md-6">
              <div class="cta-item cta-item-d mb-30">
                  <h5 class="cta-title">Follow Us</h5>
                  <p>Official social media handles of IEDC</p>
                  <div class="cta-social">
                      <div class="social-icon">                                    
                          <a href="https://instagram.com/iedckerala?igshid=MzNlNGNkZWQ4Mg==" class="instagram" target="_blank"><i class="fab fa-instagram" style="font-size:24px;color: #ff0080;"></i></a>
                          <a href="https://www.facebook.com/profile.php?id=100089262225041" class="facebook" target="_blank"><i class="fab fa-facebook-f"  style='font-size:24px'></i></a>
                          
                          <a href="https://www.linkedin.com/company/iedckerala/" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"  style='font-size:24px'></i></a>
                          <a href="https://discord.gg/JnpjMqtP6f" class="discord" target="_blank"><i class='fab fa-discord'  style='font-size:24px;color:white'></i></a>
                          <a href="https://t.me/iedckerala" class="telegram" target="_blank"><i class="fab fa-telegram" style='font-size:24px;color:cyan'></i></a>
                          <a href="https://wa.me/+916238998379" class="whatsapp" target="_blank"><i class="fab fa-whatsapp" style='font-size:24px;color:green'></i></a>

                      </div>
                  </div>
              </div>
          </div> 
          <div class="col-lg6 col-md-6">
              <div class="cta-item cta-item-d mb-30">
                  <h5 class="cta-title">Follow Us</h5>
                  <p>Official Social Media handles of Kerala Startup Mission</p>
                  <div class="cta-social">
                      <div class="social-icon">                                    
                          <a href="https://www.instagram.com/keralastartupmission/?hl=en" class="instagram" target="_blank"><i class="fab fa-instagram" style="font-size:24px;color: #ff0080;"></i></a>
                          <a href="https://facebook.com/keralastartupmission" class="facebook" target="_blank"><i class="fab fa-facebook-f"  style='font-size:24px'></i></a>
                          <a href="https://twitter.com/startup_mission" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                          <a href="https://www.youtube.com/channel/UCGnD5pg8MOIetz93sEvCHbw/" class="youtube" target="_blank"><i class="fab fa-youtube"  style='font-size:24px'></i></a>
                          <a href="https://www.linkedin.com/company/kerala-startup-mission/" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"  style='font-size:24px'></i></a>
                          
                      </div>
                  </div>
              </div>
          </div>                    
      </div>
      
  </div>
</section>
  <!-- technolgy-index-start -->