<!-- header-start -->
<header class="header d-blue-bg">
  <div class="header-top">
      <div class="container 0">
          <div class="header-inner ">
              <div class="row align-items-center ">
                  <div class="col-xl-9 col-lg-9 d-none d-lg-block">
                      <div class="header-inner-start">
                          
                      <div class="ovic-menu-wrapper ovic-menu-wrapper-2">
                              <ul>
                                  
                                  <li><a href="#"><i class="fal fa-phone-alt"></i> (+91) 8047180470</a></li>
                                  <li><a href="#"><i class="fal fa-envelope"></i> iedckerala@startupmission.in</a></li>
                                  <li><a href="https://sites.google.com/startupmission.in/iedc/home" target="_blank">IEDC Old Site</a></li>
                                  <li><a href="https://startupmission.kerala.gov.in" target="_blank">Kerala Startup Mission</a></li>
                              
                                  
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                      <div class="header-inner-end text-md-end">
                          <div class="ovic-menu-wrapper ovic-menu-wrapper-2">
                              <ul>
                              
                              <li><a href="https://goo.gl/maps/M8v6Bu7j5vTGKJbk8" target="_blank"><i class="fal fa-map-marker-alt"></i> Reach us</a></li>
                               
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-mid">
      <div class="container-fluid">
          <div class="heade-mid-inner">
              <div class="row align-items-center">
                  <div class="col-xl-2 col-lg-2 col-md-10 col-sm-10">
                      <div class="header__info header__info-2">
                          <div class="logo logo-3">
                              <a href="/" class="logo-image"><img src="/assets/im/iedcrecw.png" alt="logo"></a>
                          </div>              
                          
                      </div>
                  </div>                  
                  <div class="col-xl-9 col-lg-9 d-none d-lg-block">
                  <div class="main-menu d-none d-lg-block">
                      <nav>
                          <ul>
                              <li>
                              <li><a href="/">Home</a></li>
                              <li>
                                <a href="#">About<i class="far fa-angle-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="#">IEDC</a></li>
                                    <li><a href="/execom">Executive Committee</a></li>
                                    <li><a href="https://startupmission.kerala.gov.in" class="external" target="_blank">Kerala Startup Mission</a></li>
                                    <li><a href="/team">Team</a></li>                                      
                                </ul>
                              </li>
                              <li>
                                <a href="/initiatives">Initiatives </i></a>                                
                              </li>
                              <li>
                                <a href="#">Join us<i class="far fa-angle-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="/joinus">Join network</a></li>
                                    <li><a href="/newiedc">Apply for new IEDC</a></li>                                    
                                </ul>
                              </li>
                              <li><a href="/activitycalendar">Activity Calendar</a></li>
                              <li><a href="/report">Reports</a></li>
                                <!--<li><a href="https://iedc.startupmission.in" target="_blank">IEDC</a></li>-->
                                <li><a href="https://startupmission.kerala.gov.in" target="_blank">KSUM</a></li> 
                                <li><a href="/downloads" target="_blank">Downloads</a></li>                            
                              </li>
                          </ul>
                          
                      </nav>
                  </div>
                  </div>
                  <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2">
                      <div class="header-action">
                          
                      
                                                      
                          <div class="side-menu mr-20">
                              <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- header-end -->

<!-- //side-menu -->
<div class="main-menu">
  <nav id="mobile-menu-2">
    <ul>
        <li>
        <li><a href="/">Home</a></li>
        <li>
            <a href="#">About<i class="far fa-angle-down"></i></a>
            <ul class="submenu">
                <li><a href="/">IEDC</a></li>
                <li><a href="/execom">Executive Committee</a></li>
                <li><a href="https://startupmission.kerala.gov.in" class="external" target="_blank">Kerala Startup Mission</a></li>
                <li><a href="/team">Team</a></li>

            </ul>
          </li>
        <li>
          <a href="initiatives">Initiatives</i></a>
          
        </li>
        <li>
          <a href="#">Join us<i class="far fa-angle-down"></i></a>
          <ul class="submenu">
              <li><a href="/joinus">Join network</a></li>
              <li><a href="/newiedc">Apply for new IEDC</a></li>                                    
          </ul>
        </li>
        <li><a href="/activitycalendar">Activity Calendar</a></li>
        <li><a href="/report">Reports</a></li>
          <!--<li><a href="https://iedc.startupmission.in" target="_blank">IEDC</a></li>-->
          <li><a href="https://startupmission.kerala.gov.in" target="_blank">KSUM</a></li> 
          <li><a href="/downloads" target="_blank">Downloads</a></li>                            
        </li>
    </ul>
  </nav>
</div>

<!-- offcanvas area start -->
<div class="offcanvas__area">
  <div class="offcanvas__wrapper">
  <div class="offcanvas__close">
      <button class="offcanvas__close-btn" id="offcanvas__close-btn">
          <i class="fal fa-times"></i>
      </button>
  </div>
  <div class="offcanvas__content">
      <div class="offcanvas__logo mb-40">
          <a href="/">
            <img src="/assets/im/iedcrecb.png" style="height:50px"  alt="logo">
          </a>
          <a href="/">
            <img src="/assets/im/ksum.png" style="height:50px"  alt="logo">
          </a>
      </div>
      
                  
      <div class="mobile-menu-2"></div>
      <div class="offcanvas__action">
      </div>
  </div>
  </div>
</div>
<!-- offcanvas area end -->      
<div class="body-overlay"></div>
<!-- offcanvas area end -->


<!-- <script>
  var button = document.querySelector('[data-collapse-toggle="navbar-default"]')
  var target = button.getAttribute('data-collapse-toggle');

  document.addEventListener('click', function(){
    document.getElementById(target).classList.toggle('hidden');
  });
</script> -->